@using CSIDE.Data.Models.Shared
@using System.Globalization

@if(Contacts is not null)
{
    if (IsEditable)
    {
        //TODO add delegated onclick event
        <button type="button" class="btn btn-outline-primary btn-sm" @onclick="ShowAddContactModal">@localizer["Add Contact Label"]</button>
    }
    
    @if (Contacts.Length != 0)
    {
        <div class="row">
            @*defined contact types first, then generic contact types*@
            @foreach (Contact contact in Contacts.Where(c => c.ContactType != null).OrderBy(c => c.ContactType?.Id))
            {
                <ContactCard Contact="@contact" IsEditable="@IsEditable" OnRefresh="RefreshComponent"></ContactCard>
            }
            @foreach (Contact contact in Contacts.Where(c => c.ContactType == null).OrderBy(c => c.Id))
            {
                <ContactCard Contact="@contact" IsEditable="@IsEditable" OnRefresh="RefreshComponent"></ContactCard>
            }
        </div>
    }
    else
    {
        <Alert Color="AlertColor.Info">@localizer["No Contacts Message"]</Alert>
    }
}

@if (NewContact is not null && IsEditable)
{
    <Modal @ref="AddContactModal" Title="@localizer["Add Contact Label"]">
        
        <BodyTemplate>
            @if (ErrorMessage is not null)
            {
                <Alert Color="AlertColor.Danger">@ErrorMessage</Alert>
            }
            <ContactEditForm ContactToEdit="NewContact"
                ContactTypes="ContactTypes"
                OnSubmit="SubmitFormAsync"
                OnCancel="HideAddContactModal"
                IsBusy="IsBusy"
                @ref="NewContactForm" />
        </BodyTemplate>

    </Modal>
}
