@page "/Infrastructure/Details/{ItemId:int}"
@using CSIDE.Data.Models.Infrastructure
@using CSIDE.Components.Infrastructure
@using CSIDE.Components.Mapping
@using CSIDE.Components.Layout
@using System.Globalization
@using CSIDE.Options
@using Microsoft.Extensions.Options
@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject NavigationManager navigationManager
@inject IOptions<MappingOptions> mappingOptions

<div>
    <Breadcrumb Items="NavItems"></Breadcrumb>
</div>

@if (IsBusy)
{
    <PageTitle>@localizer["Loading Text"]</PageTitle>
    <p class="fs-4">
        <div class="spinner-border" role="status"></div> @localizer["Loading Text"]
    </p>
}

@if (InfrastructureItem is null && !IsBusy)
{
    <PageTitle>@localizer["Infrastructure Job Not Found Error Message", ItemId]</PageTitle>
    <Alert Color="AlertColor.Danger">@localizer["Infrastructure Job Not Found Error Message", ItemId]</Alert>
}
else
{
    if (InfrastructureItem is not null)
    {
        <PageTitle>@localizer["Infrastructure Details Title", InfrastructureItem.Id]</PageTitle>
        <h1>@localizer["Infrastructure Details Title", InfrastructureItem.Id]</h1>

        <AuthorizeView Roles="Administrator, Ranger">
            <a href="Infrastructure/Edit/@InfrastructureItem.Id" class="btn btn-primary my-2">@localizer["Edit Label"]</a>
        </AuthorizeView>

        <div class="row">
            <div class="col-md-8">

                <CollapsibleCard Id="infrastructure-basic-details" Title="@localizer["Basic Details Label"]" IsShownByDefault="true">
                    <ChildContent>
                        <ErrorBoundary>
                            <ChildContent>

                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th class="w-25">@localizer["Infrastructure ID Label"]</th>
                                            <td>@InfrastructureItem.Id</td>
                                        </tr>
                                        <tr>
                                            <th class="w-25">@localizer["Infrastructure Type Label"]</th>
                                            <td>@InfrastructureItem.InfrastructureType?.Name</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Infrastructure Description Label"]</th>
                                            <td class="text-break comment-field">@InfrastructureItem.Description</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Infrastructure Installation Date Label"]</th>
                                            <td>@InfrastructureItem.InstallationDate</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Infrastructure Height Label"]</th>
                                            <td>@InfrastructureItem.Height</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Infrastructure Width Label"]</th>
                                            <td>@InfrastructureItem.Width</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Infrastructure Length Label"]</th>
                                            <td>@InfrastructureItem.Length</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Route ID Label"]</th>
                                            <td>@InfrastructureItem.RouteId</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Parish Label"]</th>
                                            <td>@InfrastructureItem.Parish?.Name</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Maintenance Team Label"]</th>
                                            <td>@InfrastructureItem.MaintenanceTeam?.Name</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ChildContent>
                            <ErrorContent Context="Exception">
                                <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                            </ErrorContent>
                        </ErrorBoundary>
                    </ChildContent>
                </CollapsibleCard>

                @if (InfrastructureItem.InfrastructureType is not null && InfrastructureItem.InfrastructureType.IsBridge)
                {
                    <CollapsibleCard Id="infrastructure-bridge-details" Title="@localizer["Bridge Details Label"]" IsShownByDefault="true">
                        <ChildContent>
                            <ErrorBoundary>
                                <ChildContent>
                                    @if(InfrastructureItem.BridgeDetails is null)
                                    {
                                        <Alert Color="AlertColor.Info">@localizer["No Bridge Details Text"]</Alert>
                                    }else{
                                        <h4>@localizer["Bridge Survey Construction Title"]</h4>

                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <th class="w-25">@localizer["Bridge Survey Beams Short Label"]</th>
                                                    <td>
                                                        @(InfrastructureItem.BridgeDetails.BeamMaterial?.Name ?? localizer["Not Provided Label"])
                                                        @if (InfrastructureItem.BridgeDetails.BeamMaterial is not null && InfrastructureItem.BridgeDetails.BeamMaterial.IsWood)
                                                        {
                                                            <br />
                                                            <span>@localizer["Bridge Num Timbers Short Label"]: @InfrastructureItem.BridgeDetails.NumBeamTimbers</span>
                                                            <br />
                                                            <span>@localizer["Bridge Timbers Size Short Label"]: @InfrastructureItem.BridgeDetails.BeamTimbersSize</span>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="w-25">@localizer["Bridge Survey Decking Short Label"]</th>
                                                    <td>
                                                        @(InfrastructureItem.BridgeDetails.DeckingMaterial?.Name ?? localizer["Not Provided Label"])
                                                        @if (InfrastructureItem.BridgeDetails.DeckingMaterial is not null && InfrastructureItem.BridgeDetails.DeckingMaterial.IsWood)
                                                        {
                                                            <br />
                                                            <span>@localizer["Bridge Num Boards Short Label"]: @InfrastructureItem.BridgeDetails.NumDeckingBoards</span>
                                                            <br />
                                                            <span>@localizer["Bridge Timbers Size Short Label"]: @InfrastructureItem.BridgeDetails.DeckingBoardsSize</span>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="w-25">@localizer["Bridge Survey Handrail Short Label"]</th>
                                                    <td>
                                                        @(InfrastructureItem.BridgeDetails.HandrailMaterial?.Name ?? localizer["Not Provided Label"])
                                                        @if (InfrastructureItem.BridgeDetails.HandrailMaterial is not null && InfrastructureItem.BridgeDetails.HandrailMaterial.IsWood)
                                                        {
                                                            <br />
                                                            <span>@localizer["Bridge Handrails In Place Short Label"]: <NullableBooleanDisplay Value="InfrastructureItem.BridgeDetails.HandrailsInPlace"></NullableBooleanDisplay></span>
                                                            <br />
                                                            <span>@localizer["Bridge Timbers Size Short Label"]: @InfrastructureItem.BridgeDetails.HandrailTimbersSize</span>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="w-25">@localizer["Bridge Survey Handrail Posts Short Label"]</th>
                                                    <td>
                                                        @(InfrastructureItem.BridgeDetails.HandrailPostsMaterial?.Name ?? localizer["Not Provided Label"])
                                                        @if (InfrastructureItem.BridgeDetails.HandrailPostsMaterial is not null && InfrastructureItem.BridgeDetails.HandrailPostsMaterial.IsWood)
                                                        {
                                                            <br />
                                                            <span>@localizer["Bridge Num Timbers Short Label"]: @InfrastructureItem.BridgeDetails.NumHandrailPostsTimbers</span>
                                                            <br />
                                                            <span>@localizer["Bridge Timbers Size Short Label"]: @InfrastructureItem.BridgeDetails.HandrailPostsTimbersSize</span>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="w-25">@localizer["Bridge Survey Bank Seat Short Label"]</th>
                                                    <td>@(InfrastructureItem.BridgeDetails.BankSeatMaterial?.Name ?? localizer["Not Provided Label"])</td>
                                                </tr>
                                                <tr>
                                                    <th class="w-25">@localizer["Bridge Survey Anti Slip Short Label"]</th>
                                                    <td><NullableBooleanDisplay Value="InfrastructureItem.BridgeDetails.AntiSlipInstalled"></NullableBooleanDisplay></td>
                                                </tr>
                                                <tr>
                                                    <th class="w-25">@localizer["Bridge Survey Gates Short Label"]</th>
                                                    <td><NullableBooleanDisplay Value="InfrastructureItem.BridgeDetails.GateInstalled"></NullableBooleanDisplay></td>
                                                </tr>
                                                <tr>
                                                    <th class="w-25">@localizer["Bridge Survey Stiles Short Label"]</th>
                                                    <td><NullableBooleanDisplay Value="InfrastructureItem.BridgeDetails.StileInstalled"></NullableBooleanDisplay></td>
                                                </tr>
                                                <tr>
                                                    <th class="w-25">@localizer["Bridge Survey Ramps Short Label"]</th>
                                                    <td><NullableBooleanDisplay Value="InfrastructureItem.BridgeDetails.RampInstalled"></NullableBooleanDisplay></td>
                                                </tr>
                                                <tr>
                                                    <th class="w-25">@localizer["Bridge Survey Steps Short Label"]</th>
                                                    <td><NullableBooleanDisplay Value="InfrastructureItem.BridgeDetails.StepsInstalled"></NullableBooleanDisplay></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <h4>@localizer["Bridge Survey Condition Title"]</h4>

                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <th class="w-25">@localizer["Bridge Survey Beams Short Label"]</th>
                                                    <td>@(InfrastructureItem.BridgeDetails.BeamCondition?.Name ?? localizer["Not Provided Label"])</td>
                                                </tr>
                                                <tr>
                                                    <th class="w-25">@localizer["Bridge Survey Decking Short Label"]</th>
                                                    <td>@(InfrastructureItem.BridgeDetails.DeckingCondition?.Name ?? localizer["Not Provided Label"])</td>
                                                </tr>
                                                <tr>
                                                    <th class="w-25">@localizer["Bridge Survey Handrail Short Label"]</th>
                                                    <td>@(InfrastructureItem.BridgeDetails.HandrailCondition?.Name ?? localizer["Not Provided Label"])</td>
                                                </tr>
                                                <tr>
                                                    <th class="w-25">@localizer["Bridge Survey Handrail Posts Short Label"]</th>
                                                    <td>@(InfrastructureItem.BridgeDetails.HandrailPostsCondition?.Name ?? localizer["Not Provided Label"])</td>
                                                </tr>
                                                <tr>
                                                    <th class="w-25">@localizer["Bridge Survey Bank Seat Short Label"]</th>
                                                    <td>@(InfrastructureItem.BridgeDetails.BankSeatCondition?.Name ?? localizer["Not Provided Label"])</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <h4>@localizer["Bridge Survey Repairs Title"]</h4>

                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <th class="w-25">@localizer["Bridge Survey Overgrown Short Label"]</th>
                                                    <td><NullableBooleanDisplay Value="InfrastructureItem.BridgeDetails.Overgrown"></NullableBooleanDisplay></td>
                                                </tr>
                                                <tr>
                                                    <th class="w-25">@localizer["Bridge Survey Signs Of Bank Erosion Short Label"]</th>
                                                    <td><NullableBooleanDisplay Value="InfrastructureItem.BridgeDetails.SignsOfBankErosion"></NullableBooleanDisplay></td>
                                                </tr>
                                                <tr>
                                                    <th class="w-25">@localizer["Bridge Survey Seriously Eroded Short Label"]</th>
                                                    <td><NullableBooleanDisplay Value="InfrastructureItem.BridgeDetails.SeriouslyEroded"></NullableBooleanDisplay></td>
                                                </tr>
                                                <tr>
                                                    <th class="w-25">@localizer["Bridge Survey High Usage Short Label"]</th>
                                                    <td><NullableBooleanDisplay Value="InfrastructureItem.BridgeDetails.HighUsage"></NullableBooleanDisplay></td>
                                                </tr>
                                                <tr>
                                                    <th class="w-25">@localizer["Bridge Survey Cover Boards In Place Short Label"]</th>
                                                    <td><NullableBooleanDisplay Value="InfrastructureItem.BridgeDetails.CoverBoardsInPlace"></NullableBooleanDisplay></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    }
                                </ChildContent>
                                <ErrorContent Context="Exception">
                                    <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                                </ErrorContent>
                            </ErrorBoundary>
                        </ChildContent>
                    </CollapsibleCard>
                }

                <CollapsibleCard Id="infra-surveys" Title="@localizer["Surveys Title"]">
                    <ChildContent>
                        <ErrorBoundary>
                            <ChildContent>
                                <InfrastructureSurveyList InfrastructureItemId="@InfrastructureItem.Id"></InfrastructureSurveyList>
                            </ChildContent>
                            <ErrorContent Context="Exception">
                                <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                            </ErrorContent>
                        </ErrorBoundary>
                    </ChildContent>
                </CollapsibleCard>

                <CollapsibleCard Id="infra-media" Title="@localizer["Media Label",InfrastructureItem.InfrastructureMedia.Count]">
                    <ChildContent>
                        <ErrorBoundary>
                            <ChildContent>
                                <InfrastructureMediaList InfrastructureItem="@InfrastructureItem" IsEditable="UserCanEdit"></InfrastructureMediaList>
                            </ChildContent>
                            <ErrorContent Context="Exception">
                                <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                            </ErrorContent>
                        </ErrorBoundary>
                    </ChildContent>
                </CollapsibleCard>

                <CollapsibleCard Id="infra-audit" Title="@localizer["Audit Log Title"]">
                    <ChildContent>
                        <ErrorBoundary>
                            <ChildContent>
                                <AuditLogList SectionNames="@AuditLogSectionNames" EntityId="@InfrastructureItem.Id.ToString()"></AuditLogList>
                            </ChildContent>
                            <ErrorContent Context="Exception">
                                <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                            </ErrorContent>
                        </ErrorBoundary>
                    </ChildContent>
                </CollapsibleCard>

            </div>
            <div class="col-md-4">
                <ErrorBoundary>
                    <ChildContent>
                        @if (InfrastructureItem.Geom is not null)
                        {
                            <MiniMap Geometry="@InfrastructureItem.Geom"></MiniMap>
                        }
                        <table class="table table-striped table-sm">
                            <tbody>
                                <tr><th>@localizer["Easting Label"]</th><td>@Convert.ToInt32(InfrastructureItem.Geom?.X)</td></tr>
                                <tr><th>@localizer["Northing Label"]</th><td>@Convert.ToInt32(InfrastructureItem.Geom?.Y)</td></tr>
                                <tr>
                                    <td colspan="2">
                                        <MapLink Template="@mappingOptions.Value.InfraItemMapLinkTemplateURL" Geometry="@InfrastructureItem.Geom" IncludeIcon="true"></MapLink>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ChildContent>
                    <ErrorContent Context="Exception">
                        <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                    </ErrorContent>
                </ErrorBoundary>
            </div>
        </div>
    }
}
@code {
    private List<BreadcrumbItem>? NavItems;

    [Parameter]
    public int ItemId { get; set; }
    private InfrastructureItem? InfrastructureItem { get; set; }

    private bool IsBusy { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private bool UserCanEdit { get; set; } = false;

    private string[] AuditLogSectionNames => new string[] {
        nameof(Data.Models.Infrastructure.InfrastructureItem),
        nameof(Data.Models.Infrastructure.InfrastructureMedia),
        nameof(Data.Models.Infrastructure.InfrastructureBridgeDetails)
    };

    protected override async Task OnParametersSetAsync()
    {
        NavItems = new List<BreadcrumbItem>
        {
            new BreadcrumbItem{ Text = localizer["Home Title"], Href = "" },
            new BreadcrumbItem{ Text = localizer["Infrastructure Title"], Href="Infrastructure" },
            new BreadcrumbItem{ Text = localizer["Infrastructure Details Title", ItemId], IsCurrentPage = true }
        };

        IsBusy = true;
        try
        {
            using var context = contextFactory.CreateDbContext();
            InfrastructureItem = await context.Infrastructure.FindAsync(ItemId);
        }
        finally
        {
            IsBusy = false;
        }

        //check user has permission to edit
        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            var user = authState?.User;
            if (user is not null)
            {
                UserCanEdit = user.IsInRole("Administrator") || user.IsInRole("Ranger");
            }
        }
    }
}

