@using CSIDE.Data.Models.Maintenance
@using CSIDE.Shared.Options
@using NodaTime
@using Humanizer
@using System.Globalization

@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject ILogger<RecentMaintenanceJobsCard> logger

<Card>
    <CardBody>
        <CardTitle Class="mb-4">@localizer["Recent Maintenance Jobs Card Title"]</CardTitle>
        <CardText>
            @if (IsBusy)
            {
                <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                    <span class="placeholder col-8"></span>
                </p>
            }
            else
            {
                if (ErrorMessage is not null)
                {
                    <div class="alert alert-danger">@ErrorMessage</div>
                }
                if (Jobs is not null && Jobs.Count != 0)
                {
                    <div class="list-group">
                        @foreach (Job job in Jobs.OrderByDescending(l => l.LogDate))
                        {
                            <a href="Maintenance/Details/@job.Id" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">@IDPrefixOptions.Value.Maintenance@job.Id</h5>
                                    <small>@(job.LogDate.HasValue? job.LogDate.Value.ToDateTimeUtc().Humanize() : localizer["Unknown Label"])</small>
                                </div>
                                <p class="mb-1">@job.ProblemDescription?.ReplaceLineEndings(" ").Truncate(50)</p>
                            </a>
                      }
                    </div>
                }
                else
                {
                    <Alert Color="AlertColor.Info">@localizer["No Job Message"]</Alert>
                }
            }
        </CardText>
    </CardBody>
</Card>

@code {
    public ICollection<Job>? Jobs { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    private string? UserID { get; set; }
    private TeamUser? MaintenanceTeam { get; set; }
    private bool IsBusy { get; set; }
    private string? ErrorMessage { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        IsBusy = true;
        ErrorMessage = null;
        StateHasChanged();
        try
        {
            using var context = contextFactory.CreateDbContext();

            if (AuthenticationStateTask != null)
            {
                var authState = await AuthenticationStateTask;
                UserID = authState.GetUserId();
            }

            if (UserID != null)
            {
                MaintenanceTeam = await context.MaintenanceTeamUsers
                    .AsNoTracking()
                    .Where(t => t.UserId == UserID)
                    .FirstOrDefaultAsync();
            }

            if (MaintenanceTeam is not null)
            {
                Jobs = await context.MaintenanceJobs
                    .AsNoTracking()
                    .Where(job => job.MaintenanceTeamId == MaintenanceTeam.TeamId)
                    .Where(job => job.JobStatus!.IsComplete == false)
                    .OrderByDescending(job => job.LogDate)
                    .Take(5)
                    .ToListAsync();
            }
            else
            {
                ErrorMessage = localizer["Maintenance Jobs Card No Team Error Message"];
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = localizer["Maintenance Jobs Card Error Message"];
            logger.LogError(ex, "An error occurred loading a user's recent maintenance jobs in the card component");
        }
        finally
        {
            IsBusy = false;
            StateHasChanged();
        }
    }
}
