@using CSIDE.Data.Models.Maintenance
@using CSIDE.Data.Services
@using CSIDE.Data.Models.RightsOfWay

@inject IRightsOfWayService rightsOfWayService
@inject IMaintenanceJobsService maintenanceJobsService
@inject ILogger<RightsOfWayClosuresCard> logger

<AuthorizeView Roles="Administrator, RoW Officer, Ranger">
<Card Class="h-100">
    <CardBody Style="overflow-y:auto ; max-height:28rem">
        <CardTitle Class="mb-4">@localizer["Rights of Way Closures Card Title"]</CardTitle>
        <CardText>
            @if (IsBusy)
            {
                <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                    <span class="placeholder col-8"></span>
                </p>
            } 
            else
            {
                if (ErrorMessage is not null)
                {
                        <div class="alert alert-danger">@ErrorMessage</div>
                }
                if (Routes is not null && Routes.Count != 0)
                {
                        <div class="list-group">
                        @foreach (Route route in Routes.OrderBy(d => d.ClosureEndDate))
                        {
                            var today = LocalDate.FromDateTime(DateTime.Today);
                            var status = route.ClosureEndDate switch
                            {
                                var date when date == today => "Today",
                                var date when date > today => "Upcoming",
                                var date when date < today => "Overdue",
                                _ => "Unknown"
                            };

                            var style = status switch
                            {
                                "Today" => "text-bg-warning",
                                "Upcoming" => "text-bg-info",
                                "Overdue" => "text-bg-danger",
                                _ => "text-bg-secondary"
                            };

                            <a href="rights-of-way/Details/@route.RouteCode" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">@route.RouteCode</h5>
                                    <span class="mb-1 badge @style">@status</span>
                                </div>
                                <p class="mb-1">Planned reopening: @route.ClosureEndDate</p>
                            </a>
                        }
                    </div>
                }
                else
                {
                    <Alert Color="AlertColor.Info">@localizer["No Closed Routes Message"]</Alert>
                }   
            }
        </CardText>
    </CardBody>
</Card>
</AuthorizeView>

@code {
    public IReadOnlyCollection<Route> Routes { get; set; } = [];
    private IReadOnlyCollection<Team> MaintenanceTeam { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    private string? UserID { get; set; }
    private bool IsBusy { get; set; }
    private string? ErrorMessage { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        IsBusy = true;
        ErrorMessage = null;
        StateHasChanged();

        try
        {
            if (AuthenticationStateTask != null)
            {
                var authState = await AuthenticationStateTask;
                UserID = authState.GetUserId();
            }

            if (UserID != null)
            {
                MaintenanceTeam = await maintenanceJobsService.GetMaintenanceTeamForUser(UserID);
            }

            if (MaintenanceTeam.Count >= 1)
            {
                var teamIds = MaintenanceTeam.Select(t => t.Id).ToList();
                Routes = await rightsOfWayService.GetClosedRoutesForTeam(teamIds);
            }
            else
            {
                Routes = await rightsOfWayService.GetClosedRoutes();
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = localizer["Rights Of Way Closure Card Error Message"];
            logger.LogError(ex, "An error occurred loading closed rights of way in the card component");
        }
        finally
        {
            IsBusy = false;
            StateHasChanged();
        }
    }
}
