@using CSIDE.Data.Services
@using CSIDE.Data.Models.Shared
@inject ISharedDataService sharedDataService
@inject ILogger<UploadFile> logger

@if(UploadSuccessMessage is not null)
{
    <Alert Color="AlertColor.Success">@UploadSuccessMessage</Alert>
}
@if (UploadErrorMessages.Count != 0)
{
    <Alert Color="AlertColor.Danger">
        <ul>
            @foreach (var msg in UploadErrorMessages)
            {
                <li>@msg</li>
            }
        </ul>
    </Alert>
}

<div class="@(IsFileUploading ? "loading-indicator" :"")">

    <label for="@_inputFileId" class="form-label h5">@(string.IsNullOrEmpty(Title) ? localizer["Upload File Label"] : Title)</label>
    @if (IsFileUploading)
    {
        <div class="position-absolute loading-indicator-overlay start-50 translate-middle p-1">
            <div class="spinner-border" role="status"></div><div class="position-absolute start-50 translate-middle" style="margin-top: 1rem;">
                <p class="mb-0 p-1" style="background-color:rgba(255,255,255,0.8)">@localizer["Uploading Text"]</p>
            </div>
        </div>
    }
    <div class="form-text">@localizer["Upload Explanatory Text", MaxAllowedFiles, MaxFileSizeMB]</div>
    <InputFile id="@_inputFileId" @key="@_inputFileId" class="form-control form-control-lg" disabled="@IsFileUploading" OnChange="@OnInputFileChange" multiple />

</div>


@code {
    [Parameter]
    public int MaxFileSizeMB { get; set; } = 20;
    [Parameter]
    public int MaxAllowedFiles { get; set; } = 10;
    [Parameter]
    public EventCallback<List<Media>> OnUploadComplete { get; set; }
    public List<string> UploadErrorMessages { get; set; } = [];
    public string? UploadSuccessMessage{ get; set; }
    [Parameter]
    public string? Title{ get; set; }
    private string _inputFileId = Guid.NewGuid().ToString();
    private bool IsFileUploading;
    private long MaxFileSize = 20 * (1024 * 1024);
    IReadOnlyList<IBrowserFile>? SelectedFiles;

    protected override void OnInitialized()
    {
        MaxFileSize = MaxFileSizeMB * (1024 * 1024);
    }

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        SelectedFiles = e.GetMultipleFiles();
        int numFiles = SelectedFiles.Count;
        if (numFiles == 0)
        {
            return;
        }
        UploadErrorMessages.Clear();
        UploadSuccessMessage = null;
        IsFileUploading = true;
        int successfullyUploadedFiles = 0;
        List<Media> UploadedMediaItems = [];
        if(SelectedFiles.Count > MaxAllowedFiles)
        {
            UploadErrorMessages.Add(localizer["Too Many Files Upload Error", MaxAllowedFiles]);
            IsFileUploading = false;
            return;
        }
        foreach (var file in SelectedFiles)
        {
            try
            {
                if (file.Size > MaxFileSize)
                {
                    throw new ValidationException(localizer["File Too Large Upload Error", MaxFileSizeMB, file.Name]);
                }

                var fileRequest = new FileUploadRequest
                {
                    FileName = file.Name,
                    ContentType = file.ContentType,
                    FileStream = file.OpenReadStream(MaxFileSize),
                    FileSize = file.Size
                };

                var mediaItem = await sharedDataService.UploadMedia(fileRequest);

                if (mediaItem != null)
                {
                    UploadedMediaItems.Add(mediaItem);
                    successfullyUploadedFiles += 1;
                }
                else
                {
                    UploadErrorMessages.Add(localizer["Upload Failure Message", file.Name]);
                    logger.LogError("An error occurred uploading a media item. No blob URL was returned from the storage service");
                }
            }
            catch(ValidationException v)
            {
                UploadErrorMessages.Add(v.Message);
            }
            catch (Exception ex)
            {
                UploadErrorMessages.Add(localizer["Upload Failure Message", file.Name]);
                logger.LogError(ex, "An error occurred uploading a media item");
            }
        }

        if(successfullyUploadedFiles == 0)
        {
            UploadErrorMessages.Add(localizer["No Files Uploaded Error"]);
        }else if(successfullyUploadedFiles != numFiles)
        {
            UploadErrorMessages.Add(localizer["Partial File Upload Error"]);
        }

        IsFileUploading = false;
        //regenerate upload box
        _inputFileId = Guid.NewGuid().ToString();
        if (OnUploadComplete.HasDelegate)
        {
            await OnUploadComplete.InvokeAsync(UploadedMediaItems);
        }
    }
}
