@page "/surveys/bridge/{SurveyId:int}/construction"
@using CSIDE.Web.Components.Authorization

<div>
    <Breadcrumb Items="NavItems"></Breadcrumb>
</div>

@if (ErrorMessage is not null)
{
    <Alert Color="AlertColor.Danger">@ErrorMessage</Alert>
}

@if (IsBusy)
{
    <PageTitle>@localizer["Loading Text"]</PageTitle>
    <p class="fs-4">
        <div class="spinner-border" role="status"></div> @localizer["Loading Text"]
    </p>
}
@if (Survey is not null && Materials is not null)
{
    <PageTitle>@localizer["Bridge Survey Construction Title"]</PageTitle>

    <AuthorizeView Policy="IsSurveyor" Resource="Survey" Context="SurveyEdit">
        <NotAuthorized>
            <AccessDenied></AccessDenied>
        </NotAuthorized>
        <Authorized>
            <h1>@localizer["Bridge Survey Construction Question"]</h1>

            <EditForm Model="Survey" OnValidSubmit="SubmitFormAsync">
                <FluentValidationValidator @ref="fluentValidationValidator" />
                <ValidationSummary />

                <datalist id="timber-sizes">
                    <option value="4x2"></option>
                    <option value="4x4"></option>
                    <option value="6x2"></option>
                    <option value="6x3"></option>
                    <option value="6x4"></option>
                    <option value="8x2"></option>
                    <option value="8x3"></option>
                    <option value="10x4"></option>
                    <option value="12x4"></option>
                    <option value="12x6"></option>
                </datalist>

                <fieldset class="my-3">
                    <legend>@localizer["Bridge Survey Beam Material Label"]</legend>
                    <InputRadioGroup Name="beam-material" @bind-Value="Survey.BeamMaterialId" @bind-Value:after="OnRadioChange">

                        @foreach (var material in Materials.OrderBy(m => m.Name))
                        {
                            var id = $"beam-material-{material.Id}";
                            <div class="form-check">

                                <InputRadio TValue="int"
                                            class="form-check-input"
                                            id="@id"
                                            Name="beam-material"
                                            Value="material.Id"
                                            @key="@id" />

                                <label class="form-check-label" for="@id">
                                    @material.Name
                                </label>
                            </div>
                        }
                    </InputRadioGroup>
                </fieldset>

                @if (ShowBeamTimbersSection)
                {
                    <div class="border-start border-3 ps-2 my-3">
                        <div class="mb-3 row">
                            <label class="form-label" for="num-beam-timbers">@localizer["Bridge Survey Num Beam Timbers Label"]</label>
                            <div class="col-8 col-sm-3 col-lg-2">
                                <InputNumber id="num-beam-timbers" class="form-control" @bind-Value="Survey.NumBeamTimbers"></InputNumber>
                            </div>
                            <ValidationMessage For="() => Survey.NumBeamTimbers" />
                        </div>

                        <div class="mb-3 row">
                            <label class="form-label" for="size-beam-timbers">@localizer["Bridge Survey Size Beam Timbers Label"]</label>
                            <div class="col-8 col-sm-3 col-lg-2">
                                <InputText id="size-beam-timbers" class="form-control" @bind-Value="Survey.BeamTimbersSize" list="timber-sizes"></InputText>
                            </div>
                            <ValidationMessage For="() => Survey.BeamTimbersSize" />
                        </div>
                    </div>
                }

                <fieldset class="my-3">
                    <legend>@localizer["Bridge Survey Decking Material Label"]</legend>
                    <InputRadioGroup Name="decking-material" @bind-Value="Survey.DeckingMaterialId" @bind-Value:after="OnRadioChange">

                        @foreach (var material in Materials.OrderBy(m => m.Name))
                        {
                            var id = $"decking-material-{material.Id}";
                            <div class="form-check">

                                <InputRadio TValue="int"
                                            class="form-check-input"
                                            id="@id"
                                            Name="decking-material"
                                            Value="material.Id"
                                            @key="@id" />

                                <label class="form-check-label" for="@id">
                                    @material.Name
                                </label>
                            </div>
                        }
                    </InputRadioGroup>
                </fieldset>

                @if (ShowDeckingBoardsSection)
                {
                    <div class="border-start border-3 ps-2 my-3">
                        <div class="mb-3 row">
                            <label class="form-label" for="num-decking-boards">@localizer["Bridge Survey Num Decking Boards Label"]</label>
                            <div class="col-8 col-sm-3 col-lg-2">
                                <InputNumber id="num-decking-boards" class="form-control" @bind-Value="Survey.NumDeckingBoards"></InputNumber>
                            </div>
                            <ValidationMessage For="() => Survey.NumDeckingBoards" />
                        </div>

                        <div class="mb-3 row">
                            <label class="form-label" for="size-decking-boards">@localizer["Bridge Survey Size Decking Boards Label"]</label>
                            <div class="col-8 col-sm-3 col-lg-2">
                                <InputText id="size-decking-boards" class="form-control" @bind-Value="Survey.DeckingBoardsSize" list="timber-sizes"></InputText>
                            </div>
                            <ValidationMessage For="() => Survey.DeckingBoardsSize" />
                        </div>

                        <div class="mb-3 row">
                            <label class="form-label" for="length-decking-boards">@localizer["Bridge Survey Length Decking Boards Label"]</label>
                            <div class="col-10 col-sm-6 col-lg-4">
                                <div class="input-group">
                                    <InputNumber id="length-decking-boards" class="form-control" step=".1" @bind-Value="Survey.DeckingBoardsLength"></InputNumber>
                                    <span class="input-group-text">@localizer["Metres Label"]</span>
                                </div>
                            </div>
                            <ValidationMessage For="() => Survey.DeckingBoardsLength" />
                        </div>
                    </div>
                }

                <fieldset class="my-3">
                    <legend>@localizer["Bridge Survey Handrail Material Label"]</legend>
                    <InputRadioGroup Name="handrail-material" @bind-Value="Survey.HandrailMaterialId" @bind-Value:after="OnRadioChange">

                        @foreach (var material in Materials.OrderBy(m => m.Name))
                        {
                            var id = $"handrail-material-{material.Id}";
                            <div class="form-check">

                                <InputRadio TValue="int"
                                            class="form-check-input"
                                            id="@id"
                                            Name="handrail-material"
                                            Value="material.Id"
                                            @key="@id" />

                                <label class="form-check-label" for="@id">
                                    @material.Name
                                </label>
                            </div>
                        }
                    </InputRadioGroup>
                </fieldset>

                @if (ShowHandrailTimbersSection)
                {
                    <div class="border-start border-3 ps-2 my-3">

                        <div class="mb-3 row">
                            <label class="form-label" for="size-handrail-timbers">@localizer["Bridge Survey Size Handrail Timbers Label"]</label>
                            <div class="col-8 col-sm-3 col-lg-2">
                                <InputText id="size-handrail-timbers" class="form-control" @bind-Value="Survey.HandrailTimbersSize" list="timber-sizes"></InputText>
                            </div>
                            <ValidationMessage For="() => Survey.HandrailTimbersSize" />
                        </div>

                        <YesNoBoolean @bind-Value="Survey.HandrailsInPlace" Label="@localizer["Bridge Survey Handrails In Place Label"]" HintText="@localizer["Bridge Survey Handrails In Place Hint Text"]" class="my-3"></YesNoBoolean>
                        <div class="form-text">@localizer["Bridge Survey Handrails In Place Additional Text"]</div>
                    </div>
                }

                <fieldset class="my-3">
                    <legend>@localizer["Bridge Survey Handrail Posts Material Label"]</legend>
                    <InputRadioGroup Name="handrail-posts-material" @bind-Value="Survey.HandrailPostsMaterialId" @bind-Value:after="OnRadioChange">

                        @foreach (var material in Materials.OrderBy(m => m.Name))
                        {
                            var id = $"handrail-posts-material-{material.Id}";
                            <div class="form-check">

                                <InputRadio TValue="int"
                                            class="form-check-input"
                                            id="@id"
                                            Name="handrail-posts-material"
                                            Value="material.Id"
                                            @key="@id" />

                                <label class="form-check-label" for="@id">
                                    @material.Name
                                </label>
                            </div>
                        }
                    </InputRadioGroup>
                </fieldset>

                @if (ShowHandrailPostsTimbersSection)
                {
                    <div class="border-start border-3 ps-2 my-3">
                        <div class="mb-3 row">
                            <label class="form-label" for="num-handrail-post-timbers">@localizer["Bridge Survey Num Handrail Posts Label"]</label>
                            <div class="col-8 col-sm-3 col-lg-2">
                                <InputNumber id="num-handrail-post-timbers" class="form-control" @bind-Value="Survey.NumHandrailPostsTimbers"></InputNumber>
                            </div>
                            <ValidationMessage For="() => Survey.NumHandrailPostsTimbers" />
                        </div>

                        <div class="mb-3 row">
                            <label class="form-label" for="size-handrail-post-timbers">@localizer["Bridge Survey Size Handrail Posts Label"]</label>
                            <div class="col-8 col-sm-3 col-lg-2">
                                <InputText id="size-handrail-post-timbers" class="form-control" @bind-Value="Survey.HandrailPostsTimbersSize" list="timber-sizes"></InputText>
                            </div>
                            <ValidationMessage For="() => Survey.HandrailPostsTimbersSize" />
                        </div>
                    </div>
                }

                <fieldset class="my-3">
                    <legend>@localizer["Bridge Survey Bank Seat Material Label"]</legend>
                    <InputRadioGroup Name="bank-seat-material" @bind-Value="Survey.BankSeatMaterialId">

                        @foreach (var material in Materials.OrderBy(m => m.Name))
                        {
                            var id = $"bank-seat-material-{material.Id}";
                            <div class="form-check">

                                <InputRadio TValue="int"
                                            class="form-check-input"
                                            id="@id"
                                            Name="bank-seat-material"
                                            Value="material.Id"
                                            @key="@id" />

                                <label class="form-check-label" for="@id">
                                    @material.Name
                                </label>
                            </div>
                        }
                    </InputRadioGroup>
                </fieldset>

                <YesNoBoolean @bind-Value="Survey.AntiSlipInstalled" Label="@localizer["Bridge Survey Anti Slip Installed Label"]" class="my-3"></YesNoBoolean>
                <YesNoBoolean @bind-Value="Survey.GateInstalled" Label="@localizer["Bridge Survey Gates Installed Label"]" class="my-3"></YesNoBoolean>
                <YesNoBoolean @bind-Value="Survey.StileInstalled" Label="@localizer["Bridge Survey Stiles Installed Label"]" class="my-3"></YesNoBoolean>
                <YesNoBoolean @bind-Value="Survey.RampInstalled" Label="@localizer["Bridge Survey Ramp Installed Label"]" class="my-3"></YesNoBoolean>
                <YesNoBoolean @bind-Value="Survey.StepsInstalled" Label="@localizer["Bridge Survey Steps Installed Label"]" class="my-3"></YesNoBoolean>

                <div class="my-3 row">
                    <label class="form-label" for="bridge-height">@localizer["Bridge Survey Height Label"]</label>
                    <div class="col-10 col-sm-6 col-lg-4">
                        <div class="input-group">
                            <InputNumber step=".1" id="bridge-height" class="form-control" @bind-Value="Survey.Height"></InputNumber>
                            <span class="input-group-text">@localizer["Metres Label"]</span>
                        </div>

                    </div>
                    <ValidationMessage For="() => Survey.Height" />
                </div>

                <div class="my-3 row">
                    <label class="form-label" for="bridge-length">@localizer["Bridge Survey Length Label"]</label>
                    <div class="col-10 col-sm-6 col-lg-4">
                        <div class="input-group">
                            <InputNumber step=".1" id="bridge-length" class="form-control" @bind-Value="Survey.Length"></InputNumber>
                            <span class="input-group-text">@localizer["Metres Label"]</span>
                        </div>
                    </div>
                    <ValidationMessage For="() => Survey.Length" />
                </div>

                <Button Color="ButtonColor.Primary" Size="ButtonSize.Large" Type="ButtonType.Submit">@localizer["Continue Button Text"] <span class="bi bi-chevron-right"></span></Button>
            </EditForm>
        </Authorized>
    </AuthorizeView>
}

