@page "/surveys/bridge/{SurveyId:int}/media"
@using CSIDE.Web.Components.Surveys
@using CSIDE.Web.Components.Authorization


<div>
    <Breadcrumb Items="NavItems"></Breadcrumb>
</div>

@if (ErrorMessage is not null)
{
    <Alert Color="AlertColor.Danger">@ErrorMessage</Alert>
}

@if (IsBusy)
{
    <PageTitle>@localizer["Loading Text"]</PageTitle>
    <p class="fs-4">
        <div class="spinner-border" role="status"></div> @localizer["Loading Text"]
    </p>
}
@if (Survey is not null)
{
    <PageTitle>@localizer["Bridge Survey Media Title"]</PageTitle>

    
    <AuthorizeView Policy="IsSurveyor" Resource="Survey" Context="SurveyEdit">
        <NotAuthorized>
            <AccessDenied></AccessDenied>
        </NotAuthorized>
        <Authorized>
            <h1>@localizer["Bridge Survey Media Question"]</h1>
            <CSIDE.Web.Components.Shared.Markdown Text="@localizer["Bridge Survey Media Help Text"]"></CSIDE.Web.Components.Shared.Markdown>

            @if (Survey.SurveyMedia.Count > 0)
            {
                <Alert Color="AlertColor.Success">
                    <p>@localizer["Bridge Survey Media Added Message"]</p>
                    <p><a href="surveys/bridge/@(SurveyId)/summary" class="btn btn-primary btn-lg">@localizer["Continue Button Text"] <span class="bi bi-chevron-right"></span></a></p>
                </Alert>
            }

            <MediaList Survey="@Survey"
                       IsEditable="true">
            </MediaList>

            <a href="surveys/bridge/@(SurveyId)/summary" class="btn btn-primary btn-lg">@localizer["Continue Button Text"] <span class="bi bi-chevron-right"></span></a>
        </Authorized>
    </AuthorizeView>

}

