@page "/surveys/bridge/{SurveyId:int}/repairs-and-further-information"
@using CSIDE.Web.Components.Authorization

<div>
    <Breadcrumb Items="NavItems"></Breadcrumb>
</div>

@if (ErrorMessage is not null)
{
    <Alert Color="AlertColor.Danger">@ErrorMessage</Alert>
}

@if (IsBusy)
{
    <PageTitle>@localizer["Loading Text"]</PageTitle>
    <p class="fs-4">
        <div class="spinner-border" role="status"></div> @localizer["Loading Text"]
    </p>
}
@if (Survey is not null)
{
    <PageTitle>@localizer["Bridge Survey Repairs Title"]</PageTitle>

    
    <AuthorizeView Policy="IsSurveyor" Resource="Survey" Context="SurveyEdit">
        <NotAuthorized>
            <AccessDenied></AccessDenied>
        </NotAuthorized>
        <Authorized>
            <h1>@localizer["Bridge Survey Repairs Title"]</h1>

            <EditForm Model="Survey" OnValidSubmit="SubmitFormAsync">

                <YesNoBoolean @bind-Value="Survey.Overgrown" Label="@localizer["Bridge Survey Overgrown Label"]" class="my-3"></YesNoBoolean>

                <YesNoBoolean @bind-Value="Survey.SignsOfBankErosion" Label="@localizer["Bridge Survey Signs Of Bank Erosion Label"]" class="my-3"></YesNoBoolean>

                <YesNoBoolean @bind-Value="Survey.SeriouslyEroded" Label="@localizer["Bridge Survey Seriously Eroded Label"]" class="my-3"></YesNoBoolean>

                <YesNoBoolean @bind-Value="Survey.HighUsage" Label="@localizer["Bridge Survey High Usage Label"]" HasNullOption="true" NullValueLabel="@localizer["Unknown Label"]" class="my-3"></YesNoBoolean>

                <YesNoBoolean @bind-Value="Survey.CoverBoardsInPlace" Label="@localizer["Bridge Survey Cover Boards In Place Label"]" HasNullOption="true" NullValueLabel="@localizer["Unknown Label"]" class="my-3"></YesNoBoolean>

                <div class="mb-3 row">
                    <div class=" col-sm-12 col-md-10 col-lg-8">
                        <label class="form-label" for="repairs-required">@localizer["Bridge Survey Repairs Required Label"]</label>
                        <InputTextArea id="repairs-required" class="form-control" @bind-Value="Survey.RepairsRequired"></InputTextArea>
                    </div>
                    <ValidationMessage For="() => Survey.RepairsRequired" />
                </div>

                <Button Color="ButtonColor.Primary" Size="ButtonSize.Large" Type="ButtonType.Submit">@localizer["Continue Button Text"] <span class="bi bi-chevron-right"></span></Button>
            </EditForm>

        </Authorized>
    </AuthorizeView>
}
