@rendermode InteractiveServer
@using CSIDE.Data.Models.DMMO
@using CSIDE.Data.Services
@using NodaTime
@using System.Globalization
@using System.ComponentModel
@inject NavigationManager navigationManager
@inject IDMMOService dmmoService

<a href="DMMO#search-form">@localizer["Search Again Label"]</a>

<Grid TItem="DMMOApplication"
Class="table table-hover table-bordered table-striped mt-2"
DataProvider="DMMOApplicationDataProvider"
AllowFiltering="false"
AllowPaging="true"
PageSize="20"
AllowSorting="true"
AllowSelection="false"
AllowRowClick="true"
OnRowClick="OnRowClick"
AutoHidePaging="true"
Responsive="true">

    <GridColumns>
        <GridColumn TItem="DMMOApplication" Filterable="false" HeaderText="@localizer["Reference Number Label"]" PropertyName="Id" SortKeySelector="item => item.Id" SortString="Id">
            <a href="DMMO/Details/@context.Id" @onclick:stopPropagation>@IDPrefixOptions.Value.DMMO@context.Id</a>
        </GridColumn>
        <GridColumn TItem="DMMOApplication" Filterable="false" HeaderText="@localizer["Application Date Label"]" PropertyName="ApplicationDate" SortKeySelector="item => item.ApplicationDate" SortString="ApplicationDate">
            @(context.ApplicationDate.HasValue ? context.ApplicationDate.Value.ToString("dd/MM/yyyy", CultureInfo.CurrentCulture) : "Unknown")
        </GridColumn>
        <GridColumn TItem="DMMOApplication" Filterable="false" HeaderText="@localizer["Received Date Label"]" PropertyName="ReceivedDate" SortKeySelector="item => item.ReceivedDate" SortString="ReceivedDate">
            @(context.ReceivedDate.HasValue ? context.ReceivedDate.Value.ToString("dd/MM/yyyy", CultureInfo.CurrentCulture) : "Unknown")
        </GridColumn>
        <GridColumn TItem="DMMOApplication" Class="comment-field" Sortable="false" Filterable="false" HeaderText="@localizer["Application Details Label"]" PropertyName="ApplicationDetails" SortKeySelector="item => item.ApplicationDetails">
            @if(context.ApplicationDetails.Length > 200){
                @context.ApplicationDetails.Substring(0, 200)

                <text>&hellip;</text>
            }else{
                @context.ApplicationDetails
            }

        </GridColumn>
        <GridColumn TItem="DMMOApplication" Filterable="false" Sortable="false" HeaderText="@localizer["Parish Label"]" PropertyName="JobPriority" SortKeySelector="@(item => item.DMMOParishes != null ? string.Join(", ", item.DMMOParishes.Select(p => p.Parish.Name)) : string.Empty)">
            @string.Join(", ", context.DMMOParishes.Select(p => p.Parish.Name))
        </GridColumn>
        <GridColumn TItem="DMMOApplication" Filterable="false" HeaderText="@localizer["Case Status Label"]" PropertyName="CaseStatus" SortKeySelector="item => item.CaseStatus != null ? item.CaseStatus.Name : string.Empty" SortString="CaseStatus">
            @context.CaseStatus?.Name
        </GridColumn>
    </GridColumns>
    <GridTemplates>
        <GridEmptyDataTemplate TItem="DMMOApplication">
            <div class="text-center text-muted">
                <span class="bi bi-inbox fs-2"></span>
                <div>
                    <p>@localizer["No Results Found Label"]</p>
                    <p><a href="DMMO#search-form">@localizer["Search Again Label"]</a></p>
                </div>
            </div>
        </GridEmptyDataTemplate>
    </GridTemplates>
</Grid>


@code {
    [Parameter]
    public string[]? ParishIds { get; set; }
    [Parameter]
    public string? ParishId { get; set; }
    [Parameter]
    public string? Location { get; set; }
    [Parameter]
    public string? ApplicationCaseStatusId { get; set; }
    [Parameter]
    public string? ApplicationTypeId { get; set; }
    [Parameter]
    public string? ApplicationClaimedStatusId { get; set; }
    [Parameter]
    public DateOnly? ApplicationDateFrom { get; set; }
    [Parameter]
    public DateOnly? ApplicationDateTo { get; set; }
    [Parameter]
    public DateOnly? ReceivedDateFrom { get; set; }
    [Parameter]
    public DateOnly? ReceivedDateTo { get; set; }
    [Parameter]
    public bool? IsPublic { get; set; }

    public async Task<GridDataProviderResult<DMMOApplication>> DMMOApplicationDataProvider(GridDataProviderRequest<DMMOApplication> request)
    {
        //handle sorting
        string sortString = "";
        ListSortDirection sortDirection = ListSortDirection.Ascending;
        if (request.Sorting is not null && request.Sorting.Any())
        {
            // Note: Multi column sorting is not supported at this moment
            sortString = request.Sorting.FirstOrDefault()!.SortString;
            sortDirection = request.Sorting.FirstOrDefault()!.SortDirection == SortDirection.Ascending ? ListSortDirection.Ascending : ListSortDirection.Descending;
        }

        var result = await dmmoService.GetDMMOApplicationsBySearchParameters(
                ParishIds,
                ParishId,
                ApplicationTypeId,
                ApplicationCaseStatusId, 
                ApplicationClaimedStatusId, 
                Location, ApplicationDateFrom, 
                ApplicationDateTo, 
                ReceivedDateFrom,
                ReceivedDateTo, 
                IsPublic,
                sortString,
                sortDirection,
                request.PageNumber,
                request.PageSize, request.CancellationToken);

        return await Task.FromResult(new GridDataProviderResult<DMMOApplication> { Data = result.Results, TotalCount = result.TotalResults });
    }

    private void OnRowClick(GridRowEventArgs<DMMOApplication> args) => navigationManager.NavigateTo($"DMMO/Details/{args.Item.Id}");
}