@rendermode InteractiveServer
@using CSIDE.Data.Models.Infrastructure
@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject NavigationManager navigationManager

<a href="Infrastructure#search-form">@localizer["Search Again Label"]</a>

@if (InfrastructureItems?.Count == MaxResults)
{
    <Alert Color="AlertColor.Warning">@localizer["Search Results Limit Text", MaxResults]</Alert>
}

<Grid TItem="InfrastructureItem"
        Class="table table-hover table-bordered table-striped mt-2"
        DataProvider="InfrastructureItemsDataProvider"
        AllowFiltering="false"
        AllowPaging="true"
        PageSize="20"
        AllowSorting="true"
        AllowSelection="false"
        AllowRowClick="true"
        OnRowClick="OnRowClick"
        AutoHidePaging="true"
        Responsive="true">

    <GridColumns>
        <GridColumn TItem="InfrastructureItem" HeaderText="@localizer["Infrastructure ID Label"]" PropertyName="Id" SortKeySelector="item => item.Id">
            <a href="Infrastructure/Details/@context.Id">@IDPrefixOptions.Value.Infrastructure@context.Id</a>
        </GridColumn>
        <GridColumn TItem="InfrastructureItem" HeaderText="@localizer["Parish Label"]" PropertyName="Parish" SortKeySelector="item => item.Parish != null ? item.Parish.Name : string.Empty">
            @context.Parish?.Name
        </GridColumn>
        <GridColumn TItem="InfrastructureItem" HeaderText="@localizer["Route ID Label"]" PropertyName="RouteId" SortKeySelector="item => item.RouteId">
            @context.RouteId
        </GridColumn>
        <GridColumn TItem="InfrastructureItem" HeaderText="@localizer["Infrastructure Type Label"]" PropertyName="InfrastructureType" SortKeySelector="item => item.InfrastructureType != null ? item.InfrastructureType.Name : string.Empty">
            @context.InfrastructureType?.Name
        </GridColumn>

    </GridColumns>
    <GridTemplates>
        <GridEmptyDataTemplate TItem="InfrastructureItem">
            <div class="text-center text-muted">
                <span class="bi bi-inbox fs-2"></span>
                <div>
                    <p>@localizer["No Results Found Label"]</p>
                    <p><a href="Infrastructure#search-form">@localizer["Search Again Label"]</a></p>
                </div>
            </div>
        </GridEmptyDataTemplate>
    </GridTemplates>
</Grid>



@code {
    [Parameter]
    public required List<InfrastructureItem> InfrastructureItems { get; set; }
    [Parameter]
    public int MaxResults { get; set; }

    private async Task<GridDataProviderResult<InfrastructureItem>> InfrastructureItemsDataProvider(GridDataProviderRequest<InfrastructureItem> request)
    {
        var result = await Task.FromResult(request.ApplyTo(InfrastructureItems));
        return result;
    }

    private void OnRowClick(GridRowEventArgs<InfrastructureItem> args) => navigationManager.NavigateTo($"Infrastructure/Details/{args.Item.Id}");
}
