@inherits LayoutComponentBase
@inject IHostEnvironment HostEnvironment


<div class="page flex-row">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="flex-grow-1">
        <div class="top-row px-4">
            <CultureSelector></CultureSelector>
            <AuthorizeView>
                <Authorized>
                    <ul class="navbar-nav ps-3">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle"></i> @context.User.Identity?.Name
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" data-bs-popper="static">
                                <li><h6 class="dropdown-header">@(context.User.Claims.FirstOrDefault(c => c.Type.Contains("email")) != null ? context.User.Claims.FirstOrDefault(c => c.Type.Contains("email"))!.Value : "")</h6></li>

                                <li><a class="dropdown-item" href="Account/MyAccount">@localizer["My Account Label"]</a></li>
                                @if (context.User.IsInRole("Administrator"))
                                {
                                    <li><a class="dropdown-item" href="#">@localizer["Manage Application Label"]</a></li>
                                }
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a id="logout" type="submit" class="btn btn-outline-danger btn-sm ms-2" href="MicrosoftIdentity/Account/SignOut"><i class="bi-door-open"></i> @localizer["Logout Label"]</a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </Authorized>
            </AuthorizeView>
        </div>
        <article class="content px-4 pb-5">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    <i class="bi bi-exclamation-triangle me-2"></i>
    @if (HostEnvironment.IsProduction())
    {
        <span>@localizer["General Error Message"] </span>
    }
    else
    {
        <span>An unhandled exception occurred. </span>
    }
    <a href="" class="reload btn btn-lg btn-dark ms-3"><i class="bi bi-arrow-clockwise"></i> @localizer["Reload Label"]</a>
    <a class="dismiss">🗙</a>
</div>