@inject IConfiguration config
@inject IStringLocalizer<CSIDE.Properties.Resources> localizer

<div class="top-row ps-1 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="@(config.GetValue<string>("CSIDE:Theme:IconsRoot"))/brand_logo.svg" width="32" class="d-inline-block" alt="Logo">
            <span class="d-none d-md-inline-block"> @(config.GetValue<string>("CSIDE:AppName"))</span>
        </a>
    </div>
</div>

<div class="nav-scrollable d-flex flex-column align-items-center align-items-md-start">
    <nav class="flex-grow-1">
        <div class="nav-item px-1 px-md-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill mx-2 fs-5" aria-hidden="true"><span class="visually-hidden">@localizer["Home Title"]</span></i><span class="d-none d-md-block"> @localizer["Home Title"]</span>
            </NavLink>
        </div>

        <div class="nav-item px-1 px-md-3">
            <NavLink class="nav-link" href="rights-of-way">
                <i class="bi bi-person-walking mx-2 fs-5" aria-hidden="true"><span class="visually-hidden">@localizer["Rights of Way Title"]</span></i><span class="d-none d-md-block"> @localizer["Rights of Way Title"]</span>
            </NavLink>
        </div>

        <div class="nav-item px-1 px-md-3">
            <NavLink class="nav-link" href="maintenance">
                <i class="bi bi-tools mx-2 fs-5" aria-hidden="true"><span class="visually-hidden">@localizer["Maintenance Title"]</span></i><span class="d-none d-md-block"> @localizer["Maintenance Title"]</span>
            </NavLink>
        </div>

        <div class="nav-item px-1 px-md-3">
            <NavLink class="nav-link" href="infrastructure">
                <i class="bi bi-signpost-split-fill mx-2 fs-5" aria-hidden="true"><span class="visually-hidden">@localizer["Infrastructure Title"]</span></i><span class="d-none d-md-block"> @localizer["Infrastructure Title"]</span>
            </NavLink>
        </div>

        <div class="nav-item px-1 px-md-3">
            <NavLink class="nav-link" href="surveys">
                <i class="bi bi-question-circle-fill mx-2 fs-5" aria-hidden="true"><span class="visually-hidden">@localizer["Surveys Title"]</span></i><span class="d-none d-md-block"> @localizer["Surveys Title"]</span>
            </NavLink>
        </div>

        <div class="nav-item px-1 px-md-3">
            <NavLink class="nav-link" href="dmmo">
                <i class="bi bi-file-earmark-text-fill mx-2 fs-5" aria-hidden="true"><span class="visually-hidden">@localizer["DMMO Abbreviation"]</span></i><span class="d-none d-md-block"> @localizer["DMMO Abbreviation"]</span>
            </NavLink>
        </div>

        <div class="nav-item px-1 px-md-3">
            <NavLink class="nav-link" href="ppo">
                <i class="bi bi-sign-merge-right-fill mx-2 fs-5" aria-hidden="true"><span class="visually-hidden">@localizer["PPO Abbreviation"]</span></i><span class="d-none d-md-block"> @localizer["PPO Abbreviation"]</span>
            </NavLink>
        </div>

        <div class="nav-item px-1 px-md-3">
            <NavLink class="nav-link" href="landowner-deposits">
                <i class="bi bi-archive-fill mx-2 fs-5" aria-hidden="true"><span class="visually-hidden">@localizer["Landowner Deposits Title"]</span></i><span class="d-none d-md-block"> @localizer["Landowner Deposits Title"]</span>
            </NavLink>
        </div>
        
    </nav>
    <div class="mt-auto p-2 small d-none d-md-flex nav-credit"><a href="https://github.com/Dorset-Council-UK"><i class="bi bi-github"></i> CSIDE v@(config.GetValue<string>("CSIDE:Version"))</a></div>
</div>

