@using CSIDE.Data.Models.PPO
@using System.Globalization

@if(PPOApplication is not null)
{
    @if(ErrorMessage is not null){
        <Alert Color="AlertColor.Danger">@ErrorMessage</Alert>
    }
    //add comment section
    @if (NewComment is not null && IsEditable)
    {
        <EditForm Model="NewComment" OnSubmit="SubmitFormAsync" class="mb-2">
            <FluentValidationValidator @ref="newCommentValidator" />
            <ValidationSummary />
            <div class="mb-3">
                <label class="form-label" for="new-comment">@localizer["New Comment Label"]</label>
                <InputTextArea id="new-comment" class="form-control" @bind-Value="NewComment.CommentText"></InputTextArea>
            </div>
            <div class="mb-3 row">
                <label class="form-label" for="comment-date">@localizer["Comment Date Label"]</label>
                <div class="col-md-8 col-lg-6 col-xl-4">
                    @{
                        string CommentDateStringRepresentation = NewComment.CommentDate.ToDateOnly().ToString("yyyy-MM-dd");
                    }
                    <input id="comment-date" type="date" class="form-control" value="@CommentDateStringRepresentation" @onchange="UpdateCommentDateProperty" />
                </div>
                <ValidationMessage For="() => NewComment.CommentDate" />
            </div>

            <button type="submit" class="btn btn-sm btn-outline-primary" disabled="@IsBusy">
                @if (IsBusy)
                {
                    <span class="spinner-border spinner-border-sm"></span>
                }
                @localizer["Add Comment Label"]
            </button>
        </EditForm>
    }

    if (PPOApplication.Comments is not null && PPOApplication.Comments.Count != 0)
    {
        @foreach (PPOComment comment in PPOApplication.Comments.OrderByDescending(c => c.CommentDate))
        {
            comment.PPOApplication = null;
            <SingleComment Comment="@comment" IsEditable="@IsEditable" OnRefresh="RefreshComponent"></SingleComment>
        }
    }
    else
    {
        <Alert Color="AlertColor.Info">@localizer["No PPO Comments Message"]</Alert>
    }
}
