@using CSIDE.Data.Models.PPO
@using System.Globalization

<div class="card comment-card bg-light mb-1" id="comment-@Comment.Id">
    <div class="card-header d-flex justify-content-between">
        <span class="@(IsEditing ? "visually-hidden" : "")">
            @Comment.CommentDate.ToString("dd/MM/yyyy", CultureInfo.CurrentCulture)
        </span>

    </div>
    <div class="card-body py-1">
        <div class="">
            <span class="comment-field @(IsEditing ? "visually-hidden":"")">
                @Comment.CommentText
            </span>
            <div class="@(IsEditing ? "":"visually-hidden")">
                <EditForm Model="Comment" OnSubmit="() => EditComment(Comment)" class="border-start border-2 ps-3">
                    <FluentValidationValidator @ref="editCommentValidator" />
                    <ValidationSummary />
                    <div class="mb-3 row">
                        <label class="form-label" for="comment-edit-date">@localizer["Comment Date Label"]</label>
                        <div class="col-md-8 col-lg-6">
                            @{
                                string CommentDateStringRepresentation = Comment.CommentDate.ToDateOnly().ToString("yyyy-MM-dd");
                            }
                            <input id="comment-edit-date" type="date" class="form-control" value="@CommentDateStringRepresentation" @onchange="UpdateCommentDateProperty" />
                        </div>
                        <ValidationMessage For="() => Comment.CommentDate" />
                    </div>
                    <label class="form-label" for="comment-edit-text">@localizer["Comment Label"]</label>
                    <InputTextArea @bind-Value="Comment.CommentText" class="form-control" id="comment-edit-text" />

                    <button type="submit" disabled="@IsBusy" class="btn btn-sm btn-outline-primary mt-1">@localizer["Update Label"]</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary mt-1" @onclick="CancelUpdate">@localizer["Cancel Label"]</button>
                </EditForm>
            </div>
        </div>
    </div>

    <div class="card-footer">
        @if (IsEditable)
        {
            <button class="btn btn-sm btn-outline-primary" type="button" disabled="@(IsEditing || IsBusy)" @onclick="() => IsEditing = true">@localizer["Edit Label"]</button>
            <button class="btn btn-sm btn-outline-danger" type="button" disabled="@(IsEditing || IsBusy)" @onclick="() => DeleteComment(Comment.Id)">@localizer["Delete Label"]</button>
        }
    </div>
    
</div>
