@page "/DMMO/Edit/{DMMOApplicationId:int}"
@using CSIDE.Data.Models.DMMO
@using CSIDE.Web.Components.DMMO
@using CSIDE.Web.Components.Mapping
@using CSIDE.Web.Components.Pages.Account

<AuthorizeView Roles="Administrator, RoW Officer">
    <NotAuthorized>
        <AccessDenied></AccessDenied>
    </NotAuthorized>

    <Authorized>
        <PageTitle>@localizer["Edit DMMO Label", $"{IDPrefixOptions.Value.DMMO}{DMMOApplicationId}"]</PageTitle>

        <div>
            <Breadcrumb Items="NavItems"></Breadcrumb>
        </div>

        <h1>@localizer["Edit DMMO Label", $"{IDPrefixOptions.Value.DMMO}{DMMOApplicationId}"]</h1>
        @if (DMMOApplication is null && !IsBusy)
        {
            <Alert Color="AlertColor.Danger">@localizer["General Error Message"]</Alert>
            <a href="DMMO" class="btn btn-primary">@localizer["Search DMMO Title"]</a>
        }
        else
        {
            if (ErrorMessage is not null)
            {
                <Alert Color="AlertColor.Danger">@ErrorMessage</Alert>
            }

            if (DMMOApplication is not null)
            {
                <div class="row">
                    <EditMap @ref="@editMap"
                             Geometry="DMMOApplication.Geom"
                             OnDrawEndMethod="ValidateGeometry"
                             OnGetSnappablesMethod="async (bbox) => await GetSnappables(bbox)"
                             OnGetRouteMethod="async(coordinates) => await GetRoute(coordinates)"
                             GeomType="Line+RoutePicker"></EditMap>
                </div>
                @if (!GeometryIsValid)
                {
                    <Alert Color="AlertColor.Danger">@localizer["Invalid Geometry Validation Message"]</Alert>
                }
            }
            <div class="row mt-2">
                <div class="col-md-8">
                    <DMMOEditForm DMMOApplication="@DMMOApplication"
                                  ApplicationTypes="@ApplicationTypes"
                                  CaseStatuses="@CaseStatuses"
                                  ClaimedStatuses="@ClaimedStatuses"
                                  DirectionsOfSecState="@DirectionsOfSecState"
                                  IsBusy="@IsBusy"
                                  IsEdit="true"
                                  OnSubmit="SubmitFormAsync"
                                  OnCancel="NavigateBackToDMMODetailsPage"
                                  SelectedClaimedStatuses="@SelectedClaimedStatuses"
                                  SelectedApplicationTypes="@SelectedApplicationTypes"
                                  @ref="childDMMOEditForm" />
                </div>
            </div>

            if (ErrorMessage is not null)
            {
                <Alert Color="AlertColor.Danger" Class="mt-2">@ErrorMessage</Alert>
            }
        }
    </Authorized>

</AuthorizeView>