@page "/DMMO"

<PageTitle>@localizer["DMMO Full Text"]</PageTitle>


<div>
    <Breadcrumb Items="NavItems"></Breadcrumb>
</div>

<h1>@localizer["DMMO Full Text"]</h1>

<AuthorizeView Roles="Administrator, RoW Officer">
    <p>@localizer["Create New DMMO Text"]</p>
    <a href="DMMO/Create" class="btn btn-primary">@localizer["Create New DMMO Label"]</a>

    <hr />
</AuthorizeView>

<h2 class="mb-3">@localizer["Search DMMO Title"]</h2>

<form method="post" @onsubmit="@OnDMMOIDSearchSubmit" @formname="DMMOIDSearch" class="mt-3">
    @if (DMMOSearchErrorMessage is not null)
    {
        <Alert Color="AlertColor.Danger">@DMMOSearchErrorMessage</Alert>
    }
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <label class="form-label" for="dmmo-id-search">@localizer["DMMO ID Label"]</label>
            <div class="input-group mb-3">
                @if (!string.IsNullOrEmpty(IDPrefixOptions.Value.DMMO))
                {
                    <span class="input-group-text" id="dmmo-id-prefix">@IDPrefixOptions.Value.DMMO</span>
                }
                <InputText id="dmmo-id-search" @bind-Value="DMMOIDSearch" class="form-control"></InputText>
                <button class="btn btn-outline-secondary" type="submit" id="search-dmmo-id-button" disabled="@IsBusy">@localizer["Search Label"]</button>
            </div>
        </div>
    </div>

</form>

<hr />

@if (SearchParams is not null)
{
    <EditForm Model="SearchParams" OnSubmit="@OnDMMOSearchSubmit" class="mt-3" id="search-form">
        <FluentValidationValidator @ref="_fluentValidationValidator" />
        <ValidationSummary />
        <div class="row">
            <div class="col-md-10 col-lg-6">
                <div class="mb-3">
                    <label class="form-label" for="route-id-search">@localizer["Location Label"]</label>
                    <InputText id="route-id-search" @bind-Value="SearchParams.Location" class="form-control"></InputText>
                    <div class="form-text">@localizer["Location Help Text"]</div>
                </div>

                @if (UseMultiParishSelect)
                {
                    <div class="mb-3">
                        <label class="form-label" for="parish-multi-search">@localizer["Parish Label"]</label>
                        <div class="form-text">@localizer["Multi Select Instructions Text"]</div>
                        <InputSelect id="parish-multi-search" class="form-select" @bind-Value="SearchParams.ParishIds">
                            @if (Parishes is not null)
                            {
                                <option value=""></option>
                                @foreach (var parish in Parishes)
                                {
                                    <option value="@parish.ParishId">@parish.Name</option>
                                }
                            }
                        </InputSelect>
                    </div>
                }
                else
                {
                    <div class="mb-3">
                        <label class="form-label" for="parish-search">@localizer["Parish Label"]</label>
                        <InputSelect id="parish-search" class="form-select" @bind-Value="SearchParams.ParishId">
                            @if (Parishes is not null)
                            {
                                <option value=""></option>
                                @foreach (var parish in Parishes)
                                {
                                    <option value="@parish.ParishId">@parish.Name</option>
                                }
                            }
                        </InputSelect>
                    </div>
                }
                <div class="form-check form-switch mt-1 mb-2">
                    <InputCheckbox @bind-Value="UseMultiParishSelect" class="form-check-input" id="use-multi-parish-select" />
                    <label class="form-check-label" for="use-multi-parish-select">@localizer["Select Multiple Parishes Label"]</label>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="case-status-search">@localizer["Case Status Label"]</label>
                    <InputSelect id="case-status-search" class="form-select" @bind-Value="SearchParams.ApplicationCaseStatusId">
                        @if (CaseStatuses is not null)
                        {
                            <option value=""></option>
                            @foreach (var status in CaseStatuses.OrderBy(t => t.Name))
                            {
                                <option value="@status.Id">@status.Name</option>
                            }
                        }
                    </InputSelect>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="type-search">@localizer["Application Type Label"]</label>
                    <InputSelect id="type-search" class="form-select" @bind-Value="SearchParams.ApplicationTypeId">
                        @if (ApplicationTypes is not null)
                        {
                            <option value=""></option>
                            @foreach (var type in ApplicationTypes.OrderBy(t => t.Name))
                            {
                                <option value="@type.Id">@type.Name</option>
                            }
                        }
                    </InputSelect>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="claimed-status-search">@localizer["Claimed Status Label"]</label>
                    <InputSelect id="claimed-status-search" class="form-select" @bind-Value="SearchParams.ApplicationClaimedStatusId">
                        @if (ClaimedStatuses is not null)
                        {
                            <option value=""></option>
                            @foreach (var status in ClaimedStatuses.OrderBy(t => t.Name))
                            {
                                <option value="@status.Id">@status.Name</option>
                            }
                        }
                    </InputSelect>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="application-date-from">@localizer["Application Date From Label"]</label>
                            <InputDate id="application-date-from" Type="InputDateType.Date" @bind-Value="SearchParams.ApplicationDateFrom" class="form-control"></InputDate>
                            <ValidationMessage For="() => SearchParams.ApplicationDateFrom" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="application-date-to">@localizer["Application Date To Label"]</label>
                            <InputDate id="application-date-to" Type="InputDateType.Date" @bind-Value="SearchParams.ApplicationDateTo" class="form-control"></InputDate>
                            <ValidationMessage For="() => SearchParams.ApplicationDateTo" />
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="received-date-from">@localizer["Received Date From Label"]</label>
                            <InputDate id="received-date-from" Type="InputDateType.Date" @bind-Value="SearchParams.ReceivedDateFrom" class="form-control"></InputDate>
                            <ValidationMessage For="() => SearchParams.ReceivedDateFrom" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="received-date-to">@localizer["Received Date To Label"]</label>
                            <InputDate id="received-date-to" Type="InputDateType.Date" @bind-Value="SearchParams.ReceivedDateTo" class="form-control"></InputDate>
                            <ValidationMessage For="() => SearchParams.ReceivedDateTo" />
                        </div>
                    </div>
                </div>


                <button class="btn btn-lg btn-outline-secondary" type="submit" id="search-dmmo-button" disabled="@IsBusy"><span class="bi bi-search"></span> @localizer["Search Label"]</button>

            </div>
        </div>
    </EditForm>
}