@using CSIDE.Data.Models.Maintenance
@using System.Globalization

<div class="card comment-card bg-light mb-1" id="comment-@Comment.Id">
    <div class="card-header d-flex justify-content-between">
        <span>
            @localizer["Comment Author Title", (string.IsNullOrEmpty(Comment.AuthorName) ? "" : Comment.AuthorName), Comment.CreatedAt.InZone(DateTimeZoneProviders.Tzdb.GetSystemDefault()).LocalDateTime.ToString("dd/MM/yyyy HH:mm", CultureInfo.CurrentCulture)]
        </span>
        <span class="text-@(Comment.IsPublic ? "success" : "danger")">
            <span class="bi bi-eye@(Comment.IsPublic ? "" : "-slash")"></span> @(Comment.IsPublic ? localizer["Public Label"] : localizer["Not Public Label"])
        </span>

    </div>
    <div class="card-body py-1">
        <div class="">
            <span class="comment-field @(IsEditing ? "visually-hidden":"")">@Comment.CommentText</span>
            <div class="@(IsEditing ? "":"visually-hidden")">
                <EditForm Model="Comment" OnSubmit="() => EditComment(Comment)" class="border-start border-2 ps-3">
                    <FluentValidationValidator @ref="editCommentValidator" />
                    <ValidationSummary />
                    <InputTextArea @bind-Value="Comment.CommentText" class="form-control" />
                    <button type="submit" disabled="@IsBusy" class="btn btn-sm btn-outline-primary mt-1">@localizer["Update Label"]</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary mt-1" @onclick="CancelUpdate">@localizer["Cancel Label"]</button>
                </EditForm>
            </div>
        </div>
    </div>

    <div class="card-footer">
        @if (IsEditable)
        {
            <button class="btn btn-sm btn-outline-primary" type="button" disabled="@(IsEditing || IsBusy)" @onclick="() => IsEditing = true">@localizer["Edit Label"]</button>
            <button class="btn btn-sm btn-outline-danger" type="button" disabled="@(IsEditing || IsBusy)" @onclick="() => DeleteComment(Comment.Id)">@localizer["Delete Label"]</button>
        }
    </div>
    
</div>
