@page "/PPO/Edit/{PPOApplicationId:int}"
@using CSIDE.Data.Models.PPO
@using CSIDE.Web.Components.PPO
@using CSIDE.Web.Components.Mapping
@using CSIDE.Web.Components.Pages.Account

<AuthorizeView Roles="Administrator, RoW Officer">
    <NotAuthorized>
        <AccessDenied></AccessDenied>
    </NotAuthorized>

    <Authorized>
        <PageTitle>@localizer["Edit PPO Label", $"{IDPrefixOptions.Value.PPO}{PPOApplicationId}"]</PageTitle>

        <div>
            <Breadcrumb Items="NavItems"></Breadcrumb>
        </div>

        <h1>@localizer["Edit PPO Label", $"{IDPrefixOptions.Value.PPO}{PPOApplicationId}"]</h1>
        @if (PPOApplication is null && !IsBusy)
        {
            <Alert Color="AlertColor.Danger">@localizer["General Error Message"]</Alert>
            <a href="PPO" class="btn btn-primary">@localizer["Search PPO Title"]</a>
        }
        else
        {
            if (ErrorMessage is not null)
            {
                <Alert Color="AlertColor.Danger">@ErrorMessage</Alert>
            }

            if (PPOApplication is not null)
            {
                <div class="row">
                    <EditMap @ref="@editMap"
                             Geometry="PPOApplication.Geom"
                             OnDrawEndMethod="ValidateGeometry"
                             OnGetSnappablesMethod="async (bbox) => await GetSnappables(bbox)"
                             OnGetRouteMethod="async(coordinates) => await GetRoute(coordinates)"
                             GeomType="Line+RoutePicker"></EditMap>
                </div>
                @if (!GeometryIsValid)
                {
                    <Alert Color="AlertColor.Danger">@localizer["Invalid Geometry Validation Message"]</Alert>
                }
            }
            <div class="row mt-2">
                <div class="col-md-8">
                    <PPOEditForm PPOApplication="@PPOApplication"
                                  ApplicationTypes="@ApplicationTypes"
                                  CaseStatuses="@CaseStatuses"
                                  Intents="@Intents"
                                  Priorities="@Priorities"
                                  IsBusy="@IsBusy"
                                  IsEdit="true"
                                  OnSubmit="SubmitFormAsync"
                                  OnCancel="NavigateBackToRouteSearchPage"
                                  SelectedIntents="@SelectedIntents"
                                  @ref="childPPOEditForm" />
                </div>
            </div>

            if (ErrorMessage is not null)
            {
                <Alert Color="AlertColor.Danger" Class="mt-2">@ErrorMessage</Alert>
            }
        }
    </Authorized>

</AuthorizeView>