@using CSIDE.Data.Models.LandownerDeposits
@using System.Globalization

@if(LandownerDeposit is not null)
{
    @if(ErrorMessage is not null){
        <Alert Color="AlertColor.Danger">@ErrorMessage</Alert>
    }
    //add event section
    @if (NewEvent is not null && IsEditable)
    {
        <EditForm Model="NewEvent" OnSubmit="SubmitFormAsync" class="mb-2">
            <FluentValidationValidator @ref="newEventValidator" />
            <ValidationSummary />
            <div class="mb-3">
                <label class="form-label" for="new-event">@localizer["New Event Label"]</label>
                <InputTextArea id="new-event" class="form-control" @bind-Value="NewEvent.EventText"></InputTextArea>
            </div>
            <div class="mb-3 row">
                <label class="form-label" for="event-date">@localizer["Event Date Label"]</label>
                <div class="col-md-8 col-lg-6 col-xl-4">
                    @{
                        string EventDateStringRepresentation = NewEvent.EventDate.ToDateOnly().ToString("yyyy-MM-dd");
                    }
                    <input id="event-date" type="date" class="form-control" value="@EventDateStringRepresentation" @onchange="UpdateEventDateProperty" />
                </div>
                <ValidationMessage For="() => NewEvent.EventDate" />
            </div>

            <button type="submit" class="btn btn-sm btn-outline-primary" disabled="@IsBusy">
                @if (IsBusy)
                {
                    <span class="spinner-border spinner-border-sm"></span>
                }
                @localizer["Add Event Label"]
            </button>
        </EditForm>
    }

    if (LandownerDeposit.Events is not null && LandownerDeposit.Events.Count != 0)
    {
        @foreach (LandownerDepositEvent ldEvent in LandownerDeposit.Events.OrderByDescending(c => c.EventDate))
        {
            ldEvent.LandownerDeposit = null;
            <SingleEvent Event="@ldEvent" IsEditable="@IsEditable" OnRefresh="RefreshComponent"></SingleEvent>
        }
    }
    else
    {
        <Alert Color="AlertColor.Info">@localizer["No Landowner Deposit Events Message"]</Alert>
    }
}
