@page "/Surveys"
@using CSIDE.Components.Authorization

<PageTitle>@localizer["Surveys Title"]</PageTitle>

<div>
    <Breadcrumb Items="NavItems"></Breadcrumb>
</div>

<h1>@localizer["Surveys Title"]</h1>

<AuthorizeView Roles="Surveyor, Ranger, Survey Validator, Administrator" Context="outerContext">
    <NotAuthorized>
        <AccessDenied></AccessDenied>
    </NotAuthorized>
    <Authorized>
        <div class="container-fluid">
            <div class="row justify-content-start row-cols-1 row-cols-sm-2 row-cols-xl-3 g-4 ">
                <AuthorizeView Roles="Surveyor, Ranger, Administrator" Context="innerContext">
                    <Authorized>
                        <div class="col">
                            <div class="card link-card h-100">
                                <div class="card-body">
                                    <a href="surveys/bridge/new" class="stretched-link">
                                        <h4 class="card-title"><i class="bi bi-clipboard-plus"></i> @localizer["New Bridge Survey Title"]</h4>
                                    </a>
                                    <p class="card-text">@localizer["New Bridge Survey Text"]</p>
                                </div>
                            </div>
                        </div>
                    </Authorized>
                </AuthorizeView>

                <div class="col">
                    <div class="card link-card h-100">
                        <div class="card-body">
                            <a href="surveys/list" class="stretched-link">
                                <h4 class="card-title"><i class="bi bi-clipboard-data"></i> @localizer["Existing Bridge Surveys Title"]</h4>
                            </a>
                            <p class="card-text">@localizer["Existing Bridge Surveys Text"]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private List<BreadcrumbItem>? NavItems;

    protected override void OnInitialized()
    {
        NavItems = new List<BreadcrumbItem>
        {
            new BreadcrumbItem{ Text = localizer["Home Title"], Href = "" },
            new BreadcrumbItem{ Text = localizer["Surveys Title"], IsCurrentPage = true }
        };
    }
}
