@using CSIDE.Shared.Options
@using CSIDE.Web.Components.Layout
@using Microsoft.Extensions.Options

@inject IOptions<CSIDEOptions> CsideOptions

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/@(_csideOptions.PathBase)" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="_content/Blazor.Bootstrap/blazor.bootstrap.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="@Assets["lib/openlayers/ol.css"]" />
    <link rel="stylesheet" href="@Assets["lib/ol-ext/ol-ext.css"]" />
    <link rel="stylesheet" href="@Assets["lib/blueimp-gallery/blueimp-gallery.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["CSIDE.Web.styles.css"]" />
    <link rel="icon" href="@IconsRoot/favicon.ico" sizes="32x32" />
    <link rel="icon" href="@IconsRoot/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="@IconsRoot/apple-touch-icon.png" />
    @if (!string.IsNullOrEmpty(IconsRoot))
    {
        <link rel="manifest" href="@IconsRoot/manifest.webmanifest" />
    }
    @{
        var primaryColorHex = _csideOptions.Theme.PrimaryColour;
        //convert hex to rgb
        // Remove the '#' if it exists
        primaryColorHex = primaryColorHex.TrimStart('#');

        // Parse the hex string into RGB components
        var r = int.Parse(primaryColorHex.Substring(0, 2), System.Globalization.NumberStyles.HexNumber);
        var g = int.Parse(primaryColorHex.Substring(2, 2), System.Globalization.NumberStyles.HexNumber);
        var b = int.Parse(primaryColorHex.Substring(4, 2), System.Globalization.NumberStyles.HexNumber);

        // Create the RGB value as a string
        var primaryColorRgb = $"{r}, {g}, {b}";
    }
    <style type="text/css">
        :root{
            --primary-color: #@primaryColorHex;
            --primary-color-dark: color-mix(in srgb, var(--primary-color), black 25%);
            --bs-primary: #@primaryColorHex;
            --bs-primary-rgb: @primaryColorRgb
        }
    </style>
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body>
    <Routes @rendermode="@InteractiveServer" />
    <ReconnectModal />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Blazor.Bootstrap/blazor.bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    @*  <script src="@Assets["lib/openlayers/proj4.js"]"></script>
    <script src="@Assets["lib/openlayers/ol.js"]"></script>
    <script src="@Assets["lib/ol-ext/ol-ext.min.js"]"></script> *@
    <script src="@Assets["lib/blueimp-gallery/blueimp-gallery.min.js"]"></script>

</body>

</html>

@code {
    private CSIDEOptions _csideOptions => CsideOptions.Value;
    private string IconsRoot => _csideOptions.Theme.IconsRoot;
}
