@page "/dmmo/details/{DMMOApplicationId:int}/order/{OrderId:int}"

<div>
    <Breadcrumb Items="NavItems"></Breadcrumb>
</div>

@if (IsBusy)
{
    <PageTitle>@localizer["Loading Text"]</PageTitle>
    <p class="fs-4">
        <div class="spinner-border" role="status"></div> @localizer["Loading Text"]
    </p>
}

@if (Order is null && !IsBusy)
{
    <PageTitle>@localizer["DMMO Order Not Found Error Message", DMMOApplicationId, OrderId]</PageTitle>
    <Alert Color="AlertColor.Danger">@localizer["DMMO Order Not Found Error Message", DMMOApplicationId, OrderId]</Alert>
}
else
{
    <PageTitle>@localizer["DMMO Order Details Title", DMMOApplicationId, OrderId]</PageTitle>

    <h1>@localizer["DMMO Order Details Title", DMMOApplicationId, OrderId]</h1>


}

