@page "/dmmo/edit/{DMMOApplicationId:int}/order/{OrderId:int}"
@using CSIDE.Components.Shared

<div>
    <Breadcrumb Items="NavItems"></Breadcrumb>
</div>

@if (IsBusy)
{
    <PageTitle>@localizer["Loading Text"]</PageTitle>
    <p class="fs-4">
        <div class="spinner-border" role="status"></div> @localizer["Loading Text"]
    </p>
}

@if (Order is null && !IsBusy)
{
    <PageTitle>@localizer["General Error Message"]</PageTitle>
    <Alert Color="AlertColor.Danger">@localizer["General Error Message"]</Alert>
}
else
{
    <PageTitle>@localizer["Edit Order Title", DMMOApplicationId, OrderId]</PageTitle>

    <h1>@localizer["Edit Order Title", DMMOApplicationId, OrderId]</h1>

    @if(ErrorMessage is not null)
    {
        <GenericErrorAlert Message="@ErrorMessage"></GenericErrorAlert>
    }
    <CSIDE.Components.DMMO.OrderEditForm
        Order="@Order"
        OrderDecisionsOfSecState="DecisionOfSecStateOptions"
        OrderDeterminationProcesses="DeterminationProcessOptions"
        IsEdit="true"
        IsBusy="@IsBusy"
        OnSubmit="SubmitFormAsync"
        OnCancel="NavigateBackToDMMOPage"
        @ref="childDMMOOrderEditForm" />
}



