@page "/Account/MyAccount"
@using CSIDE.Data.Services
@inject IUserService userService

<PageTitle>@localizer["My Account Label"]</PageTitle>

<h3>@localizer["My Account Label"]</h3>

<p>@localizer["Account Details Text"]</p>

<table class="table table-striped">
    <tbody>
        <tr><th>@localizer["Display Name Label"]</th><td>@UserDisplayName</td></tr>
        <tr><th>@localizer["Email Label"]</th><td>@UserPrimaryEmailAddress</td></tr>
        <tr><th>@localizer["Identity Provider Label"]</th><td>@UserIdentityProvider</td></tr>
        <tr><th>@localizer["User ID Label"]</th><td>@UserID</td></tr>
    </tbody>
</table>

<h3>@localizer["My Roles Header"]</h3>

@if(ApplicationRoles is null){
    <p>@localizer["Loading Text"]</p>
}else{
    if(ApplicationRoles.Count == 0)
    {
        <p>@localizer["No Roles Text"]</p>
    }
    else
    {
        <p>@localizer["Roles List Text"]</p>
        <ul>
            @foreach (var role in ApplicationRoles)
            {
                <li>@role.RoleName</li>
            }
        </ul>
    }
}
<Button Type="ButtonType.Button" Color="ButtonColor.Link" Class="ps-0" @onclick="ToggleContentAsync"><span class="bi bi-caret-@(!AuthClaimsOpen ? "right" : "down")"></span> @localizer["Auth Claims Title"]</Button>

<Collapse @ref="AuthClaimsCollapseElement">
    <div class="table-responsive">
        <table class="table table-striped">
            @if (UserClaims is not null)
            {
                @foreach (var claim in UserClaims)
                {
                    <tr><th class="w-25">@claim.Type</th><td>@claim.Value</td><td>@claim.Issuer</td></tr>
                }
            }
        </table>
    </div>
</Collapse>

<hr />

<h3>@localizer["Audit Log For User Title"]</h3>

<AuditLogList UserId="@UserID"></AuditLogList>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationStateTask { get; set; }

    Collapse AuthClaimsCollapseElement = default!;
    private bool AuthClaimsOpen = false;
    private string? UserID{ get; set; }
    private string? UserDisplayName{ get; set; }
    private string? UserPrimaryEmailAddress { get; set; }
    private string? UserIdentityProvider{ get; set; }
    private IEnumerable<System.Security.Claims.Claim>? UserClaims{ get; set; }
    private IReadOnlyCollection<ApplicationRole> ApplicationRoles { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationStateTask != null)
        {
            var authState = await AuthenticationStateTask;

            UserID = authState.GetUserId();
            UserDisplayName = authState.GetUserName();
            UserPrimaryEmailAddress = authState.GetUserEmail();
            UserIdentityProvider = authState.GetUserIdentityProvider();
            UserClaims = authState.User.Claims;

            if(UserID is not null)
            {
                var userRoles = await userService.GetUserRoles(UserID, avoidCache: true);
                if(userRoles is not null)
                {
                    ApplicationRoles = userRoles.Select(r => r.Role!).ToArray();

                }
            }

        }
    }

    private async Task ToggleContentAsync() {
        await AuthClaimsCollapseElement.ToggleAsync();
        AuthClaimsOpen = !AuthClaimsOpen;
    }
}