@attribute [AllowAnonymous]
@page "/Account/AccessDenied"

<PageTitle>@localizer["Access Denied Title"]</PageTitle>

<h3>@localizer["Access Denied Title"]</h3>

<p>@localizer["Access Denied Text"]</p>

<p class="text-muted">@localizer["User ID Label"]: @UserID</p>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private string? UserID { get; set; }
    private string? UserDisplayName { get; set; }
    private string? UserPrimaryEmailAddress { get; set; }
    private string? UserIdentityProvider { get; set; }
    private List<ApplicationRole>? ApplicationRoles { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = (await authenticationStateTask).User;
        UserID = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
        UserDisplayName = user.Identity?.Name;
        UserPrimaryEmailAddress = user.FindFirst(u => u.Type.Contains("email"))?.Value;
        UserIdentityProvider = user.FindFirst(u => u.Type.Contains("identityprovider"))?.Value;

    }
}