@page "/Maintenance/Create"
@using CSIDE.Components.Mapping
@using CSIDE.Components.Maintenance
@using CSIDE.Data.Models.Maintenance
@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject NavigationManager navigationManager

<PageTitle>@localizer["Maintenance Create Title"]</PageTitle>
<div>
    <Breadcrumb Items="@NavItems"></Breadcrumb>
</div>

<h1>@localizer["Maintenance Create Title"]</h1>

<div class="row">
    <CreateMap @ref="@createMap" OnDrawEndMethod="ValidateGeometry" CenterX="366646" CenterY="101677" Zoom="10" GeomType="Point"></CreateMap>
</div>

<div class="row mt-2">
    @if (ErrorMessage is not null)
    {
        <Alert Color="AlertColor.Danger">@ErrorMessage</Alert>
    }
    <div class="col-md-8">

        <JobEditForm 
        Job="@Job" 
        JobPriorities="@JobPriorities"
        JobStatuses="@JobStatuses"
        ProblemTypes="@ProblemTypes"
        SelectedProblemTypes="@SelectedProblemTypes"
        IsBusy="@IsBusy"
        OnSubmit="@SubmitFormAsync"
        @ref="@childJobEditForm" />
    </div>
    @if (ErrorMessage is not null)
    {
        <Alert Color="AlertColor.Danger">@ErrorMessage</Alert>
    }
</div>

@*TODO - These are duplicated in Edit.razor - Componentize them? Or make it part of the EditForm?*@
<Modal @ref="routeValidationModal" Title="@localizer["Error Title"]">
    <BodyTemplate>
        @localizer["No Rights of Way Near Geometry Validation Message"]<br />
        @localizer["No Rights of Way Near Geometry Options Text"]
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="HideRouteValidationModal">@localizer["Route ID Manual Entry Label"]</Button>
        <Button Color="ButtonColor.Primary" @onclick="ClearDrawnGeometries">@localizer["Redraw Label"]</Button>
    </FooterTemplate>

</Modal>

<Modal @ref="errorModal" Title="@localizer["Error Title"]">
    <BodyTemplate>
        @localizer["Invalid Geometry Validation Message"]
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" @onclick="ClearDrawnGeometries">@localizer["Redraw Label"]</Button>
    </FooterTemplate>
</Modal>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private List<BreadcrumbItem>? NavItems;
    private Modal routeValidationModal = default!;
    private Modal errorModal = default!;

    private CreateMap? createMap;

    private Job? Job { get; set; }
    private JobStatus[]? JobStatuses { get; set; }
    private JobPriority[]? JobPriorities { get; set; }
    private ProblemType[]? ProblemTypes { get; set; }

    private bool IsBusy{ get; set; }
    private string? ErrorMessage { get; set; }
    private bool CompleteDateShown { get; set; } = false;
    private List<int> SelectedProblemTypes { get; set; } = [];

    private JobEditForm? childJobEditForm;

    protected override async Task OnInitializedAsync()
    {
        NavItems = new List<BreadcrumbItem>
        {
            new BreadcrumbItem{ Text = localizer["Home Title"], Href ="/" },
            new BreadcrumbItem{ Text = localizer["Maintenance Title"], Href="/Maintenance" },
            new BreadcrumbItem{ Text = localizer["Maintenance Create Title"], IsCurrentPage = true }
        };

        using var context = contextFactory.CreateDbContext();
        JobStatuses = await context.MaintenanceJobStatuses.OrderBy(s => s.SortOrder).ToArrayAsync();
        JobPriorities = await context.MaintenanceJobPriorities.OrderBy(p => p.SortOrder).ToArrayAsync();
        ProblemTypes = await context.ProblemTypes.AsNoTracking().OrderBy(p => p.Name).ToArrayAsync();
        Job = new()
        {
            JobStatusId = JobStatuses.FirstOrDefault()?.Id,
            JobPriorityId = JobPriorities.FirstOrDefault()?.Id
        };
    }


    private async Task SubmitFormAsync()
    {
        if (IsBusy) {
            ErrorMessage = null;    
            return;
        }
        if (await childJobEditForm!.ValidateAsync())
        {
            IsBusy = true;
            StateHasChanged();
            try
            {
                if (Job is not null)
                {
                    using var context = contextFactory.CreateDbContext();

                    context.MaintenanceJobs.Add(Job);

                    await context.SaveChangesAsync();
                    await CreateMaintenanceProblemTypes(SelectedProblemTypes, Job.Id, context);
                    await context.SaveChangesAsync();
                    //redirect
                    navigationManager.NavigateTo($"/Maintenance/Details/{Job.Id}");
                }
            }
            catch (Exception ex)
            {
                ErrorMessage = localizer["Save Error Message"];
            }
            finally
            {
                IsBusy = false;
            }
        }
    }

    private async Task CreateMaintenanceProblemTypes(List<int> selectedProblemTypes, int JobId, ApplicationDbContext context)
    {
        //add new problem types
        foreach (int problemType in selectedProblemTypes)
        {

            context.MaintenanceJobProblemTypes.Add(new JobProblemType { ProblemTypeId = problemType, JobId = JobId });
            
        }
        return;
    }


    //TODO - The following is reused in Edit.razor, so should be shared somewhere (unless they diverge significantly)

    private async Task ValidateGeometry(string features)
    {
        //check the geometry is a single point and is on a valid route
        GeoJsonReader _geoJsonReader = new GeoJsonReader();
        FeatureCollection featureCollection = _geoJsonReader.Read<FeatureCollection>(features);

        CSIDE.Validators.Geometry.GeometryValidator validator = new(contextFactory,localizer);

        var result = await validator.ValidateAsync(featureCollection, options => options.IncludeRuleSets("Single Point","Point On Route"));
        if (result.IsValid)
        {
            //get route code and update Job.Geom
            if (Job is not null)
            {
                Job.Geom = featureCollection.First().Geometry.Centroid;
                Job.Geom.SRID = 27700;
                using var context = contextFactory.CreateDbContext();
                //TODO - Move this to shared location
                var Route = await context.Routes.Where(r => r.Geom.Distance(Job.Geom) < 20).OrderBy(r => r.Geom.Distance(Job.Geom)).FirstOrDefaultAsync();
                if(Route is not null)
                {
                    Job.RouteId = Route.RouteCode;
                }
            }
        }
        else
        {
            // Check to see what the error is and show appropriate error message
            // first check if the geometry was invalid
            if (result.Errors.Any(failure => failure.ErrorCode == "GEOM_OUTSIDE_BOUNDS") || result.Errors.Any(failure => failure.ErrorCode == "INVALID_GEOM"))
            {
                //show generic error
                await ShowGeometryValidationErrorModal();
            }
            // if its valid, check to see if there was no route nearby
            // NOTE I know it seems backwards to test this way round, but if you don't, 
            // invalid geometries always come back saying 'no route found', which is not the right message
            // TODO - Improve logic through use of conditional validation
            else if (result.Errors.Any(failure => failure.ErrorCode == "NO_ROUTE_NEARBY"))
            {
                //we assigned the geom at this point in case the user goes ahead with overriding the route ID
                if (Job is not null)
                {
                    Job.Geom = featureCollection.First().Geometry.Centroid;
                    Job.Geom.SRID = 27700;
                }
                await ShowRouteValidationModal();
            }
        }
        StateHasChanged();
    }

    private async Task ShowRouteValidationModal()
    {
        await routeValidationModal.ShowAsync();
    }

    private async Task ShowGeometryValidationErrorModal()
    {
        await errorModal.ShowAsync();
    }

    private async Task HideRouteValidationModal()
    {
        await routeValidationModal.HideAsync();
    }

    private async Task ClearDrawnGeometries()
    {
        if (Job is not null)
        {
            Job.Geom = null;
            Job.RouteId = null;
        }
        await createMap!.ClearDrawnGeometries();
        await routeValidationModal.HideAsync();
        await errorModal.HideAsync();
    }

}
