@page "/Maintenance/Create"
@using CSIDE.Data.Models.Maintenance
@using NodaTime
@inject IStringLocalizer<CSIDE.Properties.Resources> localizer
@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject NavigationManager navigationManager

<div>
    <Breadcrumb Items="NavItems"></Breadcrumb>
</div>

<h1>@localizer["Maintenance Create Title"]</h1>

<div class="row">
    <div class="col-md-8">
        @if (Job is not null)
        {
            <EditForm Model="Job"  OnSubmit="@SubmitFormAsync">

                <FluentValidationValidator  @ref="_fluentValidationValidator" />
                <ValidationSummary />

                <div class="mb-3">
                    <label class="form-label" for="route-code">@localizer["Route ID Label"]</label>
                    <InputText id="route-code" class="form-control-plaintext" readonly @bind-Value="Job.RouteId"></InputText>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="problem-description">@localizer["Problem Description Label"]</label>
                    <InputTextArea id="problem-description" class="form-control" @bind-Value="Job.ProblemDescription"></InputTextArea>
                    <ValidationMessage For="() => Job.ProblemDescription" />
                </div>

                <div class="mb-3">
                    <label class="form-label" for="priority">@localizer["Job Priority Label"]</label>
                    <InputSelect id="priority" class="form-select" @bind-Value="Job.JobPriorityId">
                        @if (JobPriorities is not null)
                        {
                            @foreach (var priority in JobPriorities.OrderBy(s => s.SortOrder))
                            {
                                <option value="@priority.Id">@priority.Description</option>
                            }
                        }

                    </InputSelect>
                    <ValidationMessage For="() => Job.JobPriorityId" />
                </div>

                <div class="mb-3">
                    <label class="form-label" for="status">@localizer["Job Status Label"]</label>
                    <select id="status" class="form-select" @onchange="ShowOrHideCompletionDate">
                        @if (JobStatuses is not null)
                        {
                            @foreach (var status in JobStatuses.OrderBy(s => s.SortOrder))
                            {
                                if (Job.JobStatusId == status.Id)
                                {
                                    <option value="@status.Id" selected>@status.Description</option>
                                }
                                else
                                {
                                    <option value="@status.Id">@status.Description</option>
                                }

                            }
                        }
                    </select>
                    <ValidationMessage For="() => Job.JobStatusId" />
                </div>

                <div class="ps-2 border-start border-2 @(CompleteDateShown ? "d-block" : "d-none")">
                    <div class="mb-3">
                        <label class="form-label" for="completion-date">@localizer["Completion Date Label"]</label>
                        <input type="date" class="form-control" value="" @onchange="UpdateCompletionDateProperty" />
                        <ValidationMessage For="() => Job.CompletionDate" />
                    </div>

                </div>

                <div class="mb-3">
                    <label class="form-label" for="work-done">@localizer["Work Done Label"]</label>
                    <InputTextArea id="work-done" class="form-control" @bind-Value="Job.WorkDone"></InputTextArea>
                    <ValidationMessage For="() => Job.WorkDone" />
                </div>

                <button type="submit" class="btn btn-primary" disabled="@IsBusy">@localizer["Create Label"]</button>
            </EditForm>
        }
    </div>
    <div class="col-md-4">
        <img src="https://gi.dorsetcouncil.gov.uk/geoserver/background_maps_open/wms?SERVICE=WMS&VERSION=1.1.1&REQUEST=GetMap&TRANSPARENT=TRUE&LAYERS=background_maps_open:openzoomstack&srs=epsg%3a27700&format=image%2fjpeg&width=300&height=300&bbox=362270,90976,362570,91276&format_options=layout:red_star_40_copy;" class="img-fluid" alt="Map" />
        <p>Map goes here</p>

    </div>
</div>


@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private List<BreadcrumbItem>? NavItems;
    private FluentValidationValidator? _fluentValidationValidator;

    private Job? Job { get; set; }
    private JobStatus[]? JobStatuses { get; set; }
    private JobPriority[]? JobPriorities { get; set; }

    private bool IsBusy{ get; set; }
    private bool CompleteDateShown { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        NavItems = new List<BreadcrumbItem>
        {
            new BreadcrumbItem{ Text = localizer["Home Title"], Href ="/" },
            new BreadcrumbItem{ Text = localizer["Maintenance Title"], Href="/Maintenance" },
            new BreadcrumbItem{ Text = localizer["Maintenance Create Title"], IsCurrentPage = true }
        };

        using var context = contextFactory.CreateDbContext();
        JobStatuses = await context.JobStatuses.OrderBy(s => s.SortOrder).ToArrayAsync();
        JobPriorities = await context.JobPriorities.OrderBy(p => p.SortOrder).ToArrayAsync();
        Job = new()
        {
            JobStatusId = JobStatuses.FirstOrDefault()?.Id,
            JobPriorityId = JobPriorities.FirstOrDefault()?.Id,
            RouteId = "S27/2" //TODO - Make this dynamic (should come from previous screen)
        };
    }


    private async Task SubmitFormAsync()
    {
        if (await _fluentValidationValidator!.ValidateAsync())
        {
            if (IsBusy) { return; }
            IsBusy = true;
            try
            {
                if (Job is not null)
                {
                    using var context = contextFactory.CreateDbContext();
                    Job.Geom = new NetTopologySuite.Geometries.Point(366646, 101677); //TODO - Make this dynamic
                    Job.Geom.SRID = 27700;
                    var user = (await authenticationStateTask).User;
                    Job.LoggedById = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
                    Job.LoggedByName = user.Identity?.Name;
                    context.MaintenanceJobs.Add(Job);
                    await context.SaveChangesAsync();
                    //redirect
                    navigationManager.NavigateTo($"/Maintenance/Details/{Job.Id}");
                }
            }
            catch (Exception ex)
            {
                //TODO show error
            }
            finally
            {
                IsBusy = false;
            }
        }
    }

    private void UpdateCompletionDateProperty(ChangeEventArgs eventArgs)
    {
        if (Job is not null && eventArgs.Value is not null)
        {
            var pattern = NodaTime.Text.LocalDatePattern.CreateWithInvariantCulture("yyyy-MM-dd");
            var parseResult = pattern.Parse(eventArgs.Value.ToString()!);
            Job.CompletionDate = parseResult.Value;
        }
    }

    private void ShowOrHideCompletionDate(ChangeEventArgs eventArgs)
    {
        int NewJobStatusId;
        if (Job is not null && int.TryParse(eventArgs.Value?.ToString(), out NewJobStatusId))
        {
            CompleteDateShown = JobStatuses!.Where(s => s.Id == NewJobStatusId).First().IsComplete;
            Job.JobStatusId = NewJobStatusId;
        }
    }

}
