@page "/Maintenance/Details/{JobId:int}"
@using CSIDE.Data.Models.Maintenance
@using CSIDE.Components.Maintenance
@using CSIDE.Components.Mapping
@using CSIDE.Components.Layout
@using System.Globalization
@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject NavigationManager navigationManager


<div>
    <Breadcrumb Items="NavItems"></Breadcrumb>
</div>

@if (IsBusy)
{
    <PageTitle>@localizer["Loading Text"]</PageTitle>
    <p class="fs-4">
        <div class="spinner-border" role="status"></div> @localizer["Loading Text"]
    </p>
}

@if (Job is null && !IsBusy)
{
    <PageTitle>@localizer["404 Error Title"]</PageTitle>
    <Alert Color="AlertColor.Danger">@localizer["Maintenance Job Not Found Error Message",JobId]</Alert>
}
else
{
    if(Job is not null){
        <PageTitle>@localizer["Maintenance Details Title", Job.Id]</PageTitle>
        <h1>@localizer["Maintenance Details Title", Job.Id]</h1>

        <a href="/Maintenance/Edit/@Job.Id" class="btn btn-primary my-2">@localizer["Edit Label"]</a>

        <div class="row">
            <div class="col-md-8">

                <CollapsibleCard Id="maint-basic-details" Title="@localizer["Basic Details Label"]" IsShownByDefault="true">
                    <ChildContent>
                        <ErrorBoundary>
                            <ChildContent>
                        
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th class="w-25">@localizer["Job ID Label"]</th>
                                            <td>@Job.Id</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Log Date Label"]</th>
                                            <td>@(Job.LogDate.HasValue ? Job.LogDate.Value.ToString("dd/MM/yyyy HH:mm", CultureInfo.CurrentCulture) : "Unknown")</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Logged By Label"]</th>
                                            <td>@Job.LoggedByName</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Problem Description Label"]</th>
                                            <td class="text-break comment-field">@Job.ProblemDescription</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Assigned To Team Label"]</th>
                                            <td>@Job.MaintenanceTeam?.Name</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Route ID Label"]</th>
                                            <td>@Job.RouteId</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Job Priority Label"]</th>
                                            <td>@Job.JobPriority?.Description</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Job Status Label"]</th>
                                            <td>@Job.JobStatus?.Description</td>
                                        </tr>
                                        @if (Job.DuplicateJobId is not null){
                                            <tr>
                                                <th>@localizer["Duplicate Job ID Label"]</th>
                                                <td><a href="/Maintenance/Details/@Job.DuplicateJobId">@Job.DuplicateJobId</a></td>
                                            </tr>
                                        }
                                        <tr>
                                            <th>@localizer["Completion Date Label"]</th>
                                            <td>@Job.CompletionDate</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Work Done Label"]</th>
                                            <td class="text-break">@Job.WorkDone</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ChildContent>
                            <ErrorContent Context="Exception">
                                <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                            </ErrorContent>
                        </ErrorBoundary>
                    </ChildContent>
                </CollapsibleCard>

                <CollapsibleCard Id="maint-comments" Title="@localizer["Comments Label",Job.Comments.Count]">
                    <ChildContent>
                        <ErrorBoundary>
                            <ChildContent>
                                <CommentsList Job="@Job" IsEditable="true"></CommentsList>
                            </ChildContent>
                            <ErrorContent Context="Exception">
                                <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                            </ErrorContent>
                        </ErrorBoundary>
                    </ChildContent>
                </CollapsibleCard>

                <CollapsibleCard Id="maint-contacts" Title="@localizer["Contacts Label",Job.JobContacts.Count]">
                    <ChildContent>
                        <ErrorBoundary>
                            <ChildContent>
                                <ContactsList Job="@Job" IsEditable="true"></ContactsList>
                            </ChildContent>
                            <ErrorContent Context="Exception">
                                <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                            </ErrorContent>
                        </ErrorBoundary>
                    </ChildContent>
                </CollapsibleCard>

                <CollapsibleCard Id="maint-infrastructure" Title="@localizer["Infrastructure Title",Job.JobInfrastructure.Count]">
                    <ChildContent>
                        <ErrorBoundary>
                            <ChildContent>
                                <InfrastructureList JobInfrastructure="@Job.JobInfrastructure" JobId="@JobId" IsEditable="true"></InfrastructureList>
                            </ChildContent>
                            <ErrorContent Context="Exception">
                                <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                            </ErrorContent>
                        </ErrorBoundary>
                    </ChildContent>
                </CollapsibleCard>

                <CollapsibleCard Id="maint-media" Title="@localizer["Media Label",Job.JobMedia.Count]">
                    <ChildContent>
                        <ErrorBoundary>
                            <ChildContent>
                                <MediaList Job="@Job" IsEditable="true"></MediaList>
                            </ChildContent>
                            <ErrorContent Context="Exception">
                                <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                            </ErrorContent>
                        </ErrorBoundary>
                    </ChildContent>
                </CollapsibleCard>
                

            </div>
            <div class="col-md-4">
                <ErrorBoundary>
                    <ChildContent>
                        @if (Job.Geom is not null)
                        {
                            <MiniMap CenterX="Job.Geom.X" CenterY="Job.Geom.Y" Zoom="18" Geometry="@Job.Geom"></MiniMap>
                        }
                        <table class="table table-striped table-sm">
                            <tbody>
                                <tr><th>@localizer["Easting Label"]</th><td>@Convert.ToInt32(Job.Geom?.X)</td></tr>
                                <tr><th>@localizer["Northing Label"]</th><td>@Convert.ToInt32(Job.Geom?.Y)</td></tr>
                            </tbody>
                        </table>
                    </ChildContent>
                    <ErrorContent Context="Exception">
                        <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                    </ErrorContent>
                </ErrorBoundary>
            </div>
        </div>
    }
}
@code {
    private List<BreadcrumbItem>? NavItems;

    [Parameter]
    public int JobId{ get; set; }
    private Job? Job { get; set; }

    private bool IsBusy{ get; set; }

    protected override async Task OnParametersSetAsync()
    {
        NavItems = new List<BreadcrumbItem>
        {
            new BreadcrumbItem{ Text = localizer["Home Title"], Href ="/" },
            new BreadcrumbItem{ Text = localizer["Maintenance Title"], Href="/Maintenance" },
            new BreadcrumbItem{ Text = localizer["Maintenance Details Title", JobId], IsCurrentPage = true }
        };

        IsBusy = true;
        try
        {
            using var context = contextFactory.CreateDbContext();
            Job = await context.MaintenanceJobs.FindAsync(JobId);
        }
        finally
        {
            IsBusy = false;
        }
    }
}
