@page "/Maintenance/Edit/{JobId:int}"
@using CSIDE.Data.Models.Maintenance
@using CSIDE.Components.Maintenance
@using CSIDE.Components.Mapping
@using NodaTime
@using System.Globalization
@inject IStringLocalizer<CSIDE.Properties.Resources> localizer
@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject NavigationManager navigationManager

<PageTitle>@localizer["Maintenance Edit Title", JobId]</PageTitle>

<div>
    <Breadcrumb Items="NavItems"></Breadcrumb>
</div>

<h1>@localizer["Maintenance Edit Title", JobId]</h1>

@if(Job is null && !IsBusy)
{
    <Alert Color="AlertColor.Danger">@localizer["Maintenance Job Not Found Error Message", JobId]</Alert>
    <a href="/Maintenance" class="btn btn-primary">@localizer["Search Jobs Title"]</a>
}
else
{
    if(ErrorMessage is not null)
    {
        <Alert Color="AlertColor.Danger">@ErrorMessage</Alert>
    }

    if (Job is not null)
    {
        <div class="row">
            <EditMap @ref="@editMap" OnDrawEndMethod="ValidateGeometry" CenterX="366646" CenterY="101677" Zoom="18" GeomType="Point" Geometry="@Job.Geom"></EditMap>
        </div>
    }
    <div class="row mt-2">
        <div class="col-md-8">
            <JobEditForm 
            Job="@Job"
            JobStatuses="@JobStatuses"
            JobPriorities="@JobPriorities"
            MaintenanceTeams="@MaintenanceTeams"
            ProblemTypes="@ProblemTypes"
            SelectedProblemTypes="@SelectedProblemTypes"
            IsBusy="@IsBusy"
            IsEdit="true"
            OnSubmit="SubmitFormAsync"
            OnCancel="NavigateBackToJobDetailsPage"
            @ref="childJobEditForm"/>
        </div>
    </div>

    if (ErrorMessage is not null)
    {
        <Alert Color="AlertColor.Danger" Class="mt-2">@ErrorMessage</Alert>
    }
}

@*TODO - These are duplicated in Create.razor - Componentize them? Or make it part of the EditForm?*@
<Modal @ref="routeValidationModal" Title="@localizer["Error Title"]">
    <BodyTemplate>
        @localizer["No Rights of Way Near Geometry Validation Message"]<br />
        @localizer["No Rights of Way Near Geometry Options Text"]
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="HideRouteValidationModal">@localizer["Route ID Manual Entry Label"]</Button>
        <Button Color="ButtonColor.Primary" @onclick="ClearDrawnGeometries">@localizer["Redraw Label"]</Button>
    </FooterTemplate>

</Modal>

<Modal @ref="errorModal" Title="@localizer["Error Title"]">
    <BodyTemplate>
        @localizer["Invalid Geometry Validation Message"]
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" @onclick="ClearDrawnGeometries">Re@localizer["Redraw Label"]draw</Button>
    </FooterTemplate>
</Modal>

@code{
    [Parameter]
    public int JobId { get; set; }

    private Job? Job{ get; set; }
    private JobStatus[]? JobStatuses { get; set; }
    private JobPriority[]? JobPriorities { get; set; }
    private MaintenanceTeam[]? MaintenanceTeams{ get; set; }
    private ProblemType[]? ProblemTypes { get; set; }

    private JobEditForm? childJobEditForm;
    private List<int> SelectedProblemTypes { get; set; } = [];

    private List<BreadcrumbItem>? NavItems;
    private Modal routeValidationModal = default!;
    private Modal errorModal = default!;

    private EditMap? editMap;
    private bool IsBusy{ get; set; }
    private string? ErrorMessage{ get; set; }

    protected override async Task OnParametersSetAsync()
    {
        NavItems = new List<BreadcrumbItem>
        {
            new BreadcrumbItem{ Text = localizer["Home Title"], Href ="/" },
            new BreadcrumbItem{ Text = localizer["Maintenance Title"], Href="/Maintenance" },
            new BreadcrumbItem{ Text = localizer["Maintenance Edit Title", JobId], IsCurrentPage = true }
        };
        IsBusy = true;
        try
        {
            using var context = contextFactory.CreateDbContext();
            JobStatuses = await context.JobStatuses.AsNoTracking().OrderBy(s => s.SortOrder).ToArrayAsync();
            JobPriorities = await context.JobPriorities.AsNoTracking().OrderBy(p => p.SortOrder).ToArrayAsync();
            MaintenanceTeams = await context.MaintenanceTeams.AsNoTracking().OrderBy(p => p.Name).ToArrayAsync();
            ProblemTypes = await context.ProblemTypes.AsNoTracking().OrderBy(p => p.Name).ToArrayAsync();
            Job = await context.MaintenanceJobs.IgnoreAutoIncludes().Include(j => j.ProblemTypes).FirstOrDefaultAsync(j => j.Id == JobId);
            SelectedProblemTypes = Job!.ProblemTypes.Select(j => j.ProblemTypeId).ToList();
        }
        finally
        {
            IsBusy = false;
        }
    }

    private async Task SubmitFormAsync()
    {
        if (Job is null || IsBusy) {
            ErrorMessage = null;
            return; 
        }
        if (await childJobEditForm!.ValidateAsync())
        {
            IsBusy = true;
            StateHasChanged();
            try
            {
                if (Job is not null)
                {
                    using var context = contextFactory.CreateDbContext();
                    context.Update(Job);
                    await UpdateMaintenanceProblemTypes(SelectedProblemTypes, context);
                    await context.SaveChangesAsync();
                    //redirect
                    NavigateBackToJobDetailsPage();
                }
            }
            catch (DbUpdateConcurrencyException)
            {
                ErrorMessage = localizer["Concurrency Error Message", localizer["Maintenance Details Title",Job.Id]];
            }
            catch (Exception ex)
            {
                ErrorMessage = localizer["Save Error Message"];
            }
            finally
            {
                IsBusy = false;
            }
        }
    }

    private async Task UpdateMaintenanceProblemTypes(List<int> selectedProblemTypes, ApplicationDbContext context)
    {
        if (Job is null) return;
        if (selectedProblemTypes == null)
        {
            await context.JobProblemTypes.Where(c => c.JobId == Job.Id).ExecuteDeleteAsync();
            return;
        }

        //delete problems not needed anymore
        await context.JobProblemTypes.Where(c => c.JobId == Job.Id && !selectedProblemTypes.Contains(c.ProblemTypeId)).ExecuteDeleteAsync();

        //add new problem types
        foreach (int problemType in selectedProblemTypes)
        {
            if (!context.JobProblemTypes.Where(c => c.JobId == Job.Id && c.ProblemTypeId == problemType).Any())
            {
                context.JobProblemTypes.Add(new JobProblemType { ProblemTypeId = problemType, JobId = Job.Id });
            }
        }
        return;
    }

    private void NavigateBackToJobDetailsPage()
    {
        navigationManager.NavigateTo($"/Maintenance/Details/{JobId}");
    }

    //TODO - The following is reused in Edit.razor, so should be shared somewhere (unless they diverge significantly)

    private async Task ValidateGeometry(string features)
    {
        //check the geometry is a single point and is on a valid route
        GeoJsonReader _geoJsonReader = new GeoJsonReader();
        FeatureCollection featureCollection = _geoJsonReader.Read<FeatureCollection>(features);

        CSIDE.Validators.Geometry.GeometryValidator validator = new(contextFactory, localizer);

        var result = await validator.ValidateAsync(featureCollection, options => options.IncludeRuleSets("Single Point", "Point On Route"));
        if (result.IsValid)
        {
            //get route code and update Job.Geom
            if (Job is not null)
            {
                Job.Geom = featureCollection.First().Geometry.Centroid;
                Job.Geom.SRID = 27700;
                using var context = contextFactory.CreateDbContext();
                //TODO - Move this to shared location
                var Route = await context.Routes.Where(r => r.Geom.Distance(Job.Geom) < 10).OrderBy(r => r.Geom.Distance(Job.Geom)).FirstOrDefaultAsync();
                if (Route is not null)
                {
                    Job.RouteId = Route.RouteCode;
                }
            }
        }
        else
        {
            // Check to see what the error is and show appropriate error message
            // first check if the geometry was invalid
            if (result.Errors.Any(failure => failure.ErrorCode == "GEOM_OUTSIDE_BOUNDS") || result.Errors.Any(failure => failure.ErrorCode == "INVALID_GEOM"))
            {
                //show generic error
                await ShowGeometryValidationErrorModal();
            }
            // if its valid, check to see if there was no route nearby
            // NOTE I know it seems backwards to test this way round, but if you don't,
            // invalid geometries always come back saying 'no route found', which is not the right message
            // TODO - Improve logic through use of conditional validation
            else if (result.Errors.Any(failure => failure.ErrorCode == "NO_ROUTE_NEARBY"))
            {
                //we assigned the geom at this point in case the user goes ahead with overriding the route ID
                if (Job is not null)
                {
                    Job.Geom = featureCollection.First().Geometry.Centroid;
                    Job.Geom.SRID = 27700;
                }
                await ShowRouteValidationModal();
            }
        }
        StateHasChanged();
    }

    private async Task ShowRouteValidationModal()
    {
        await routeValidationModal.ShowAsync();
    }

    private async Task ShowGeometryValidationErrorModal()
    {
        await errorModal.ShowAsync();
    }

    private async Task HideRouteValidationModal()
    {
        await routeValidationModal.HideAsync();
    }

    private async Task ClearDrawnGeometries()
    {
        if (Job is not null)
        {
            Job.Geom = null;
            Job.RouteId = null;
        }
        await editMap!.ClearDrawnGeometries();
        await routeValidationModal.HideAsync();
        await errorModal.HideAsync();
    }
}