@page "/Maintenance"
@using CSIDE.Data.Models.Maintenance
@using CSIDE.Data.Models.Shared


<PageTitle>@localizer["Maintenance Title"]</PageTitle>

<div>
    <Breadcrumb Items="NavItems"></Breadcrumb>
</div>

<h1 class="mb-3">@localizer["Maintenance Title"]</h1>

<AuthorizeView Roles="Administrator, RoW Officer, Ranger">
    <p>@localizer["Create New Job Text"]</p>
    <a href="Maintenance/Create" class="btn btn-primary">@localizer["Create New Job Label"]</a>

    <hr />
</AuthorizeView>

<h2 class="mb-3">@localizer["Search Jobs Title"]</h2>

<a href="Maintenance/Jobs?LogDateFrom=@(DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd"))&IsComplete=false" class="btn btn-primary">@localizer["View All Recent Jobs Label"]</a>

<form method="post" @onsubmit="@OnJobIDSearchSubmit" @formname="JobIDSearch" class="mt-3">
    @if (JobIDSearchErrorMessage is not null)
    {
        <Alert Color="AlertColor.Danger">@JobIDSearchErrorMessage</Alert>
    }
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <label class="form-label" for="job-id-search">@localizer["Job ID Label"]</label>
            <div class="input-group mb-3">
                <InputText id="job-id-search" @bind-Value="JobIDSearch" class="form-control"></InputText>
                <button class="btn btn-outline-secondary" type="submit" id="search-job-id-button" disabled="@IsBusy">@localizer["Search Label"]</button>
            </div>
        </div>
    </div>

</form>

<hr/>

@if(SearchParams is not null)
{
    <EditForm Model="SearchParams" OnSubmit="@OnJobSearchSubmit" class="mt-3" id="search-form">
        <FluentValidationValidator  @ref="_fluentValidationValidator" />
        <ValidationSummary />
        <div class="row">
            <div class="col-md-10 col-lg-6">
                <div class="mb-3">
                    <label class="form-label" for="route-id-search">@localizer["Route ID Label"]</label>
                    <InputText id="route-id-search" @bind-Value="SearchParams.RouteID" class="form-control"></InputText>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="team-serach">@localizer["Assigned To Team Label"]</label>
                    <InputSelect id="team-serach" class="form-select" @bind-Value="SearchParams.AssignedToTeamId">
                        @if (MaintenanceTeams is not null)
                        {
                            <option value=""></option>
                            @foreach (var team in MaintenanceTeams)
                            {
                                <option value="@team.Id">@team.Name</option>
                            }
                        }
                    </InputSelect>
                </div>

                @if (UseMultiParishSelect)
                {
                    <div class="mb-3">
                        <label class="form-label" for="parish-multi-search">@localizer["Parish Label"]</label>
                        <div class="form-text">@localizer["Multi Select Instructions Text"]</div>
                        <InputSelect id="parish-multi-search" class="form-select" @bind-Value="SearchParams.ParishIds">
                            @if (Parishes is not null)
                            {
                                <option value=""></option>
                                @foreach (var parish in Parishes)
                                {
                                    <option value="@parish.ParishId">@parish.Name</option>
                                }
                            }
                        </InputSelect>
                    </div>
                }
                else
                {
                    <div class="mb-3">
                        <label class="form-label" for="parish-search">@localizer["Parish Label"]</label>
                        <InputSelect id="parish-search" class="form-select" @bind-Value="SearchParams.ParishId">
                            @if (Parishes is not null)
                            {
                                <option value=""></option>
                                @foreach (var parish in Parishes)
                                {
                                    <option value="@parish.ParishId">@parish.Name</option>
                                }
                            }
                        </InputSelect>
                    </div>
                }
                <div class="form-check form-switch mt-1 mb-2">
                    <InputCheckbox @bind-Value="UseMultiParishSelect" class="form-check-input" id="use-multi-parish-select" />
                    <label class="form-check-label" for="use-multi-parish-select">@localizer["Select Multiple Parishes Label"]</label>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="priority-search">@localizer["Job Priority Label"]</label>
                    <InputSelect id="priority-search" class="form-select" @bind-Value="SearchParams.JobPriorityId">
                        @if (JobPriorities is not null)
                        {
                            <option value=""></option>
                            @foreach (var priority in JobPriorities.OrderBy(s => s.SortOrder))
                            {
                                <option value="@priority.Id">@priority.Description</option>
                            }
                        }

                    </InputSelect>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="status-search">@localizer["Job Status Label"]</label>
                    <InputSelect id="status-search" class="form-select" @bind-Value="SearchParams.JobStatusId">
                        @if (JobStatuses is not null)
                        {
                            <option value=""></option>
                            @foreach (var status in JobStatuses.OrderBy(s => s.SortOrder))
                            {
                                <option value="@status.Id">@status.Description</option>
                            }
                        }
                    </InputSelect>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="log-date-from">@localizer["Log Date From Label"]</label>
                            <InputDate id="log-date-from" Type="InputDateType.Date" @bind-Value="SearchParams.LogDateFrom" class="form-control"></InputDate>
                            <ValidationMessage For="() => SearchParams.LogDateFrom" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="log-date-from">@localizer["Log Date To Label"]</label>
                            <InputDate id="log-date-from" Type="InputDateType.Date" @bind-Value="SearchParams.LogDateTo" class="form-control"></InputDate>
                            <ValidationMessage For="() => SearchParams.LogDateTo" />
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="log-date-from">@localizer["Completed Date From Label"]</label>
                            <InputDate id="log-date-from" Type="InputDateType.Date" @bind-Value="SearchParams.CompletedDateFrom" class="form-control"></InputDate>
                            <ValidationMessage For="() => SearchParams.CompletedDateFrom" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="log-date-from">@localizer["Completed Date To Label"]</label>
                            <InputDate id="log-date-from" Type="InputDateType.Date" @bind-Value="SearchParams.CompletedDateTo" class="form-control"></InputDate>
                            <ValidationMessage For="() => SearchParams.CompletedDateTo" />
                        </div>
                    </div>
                </div>

                <button class="btn btn-lg btn-outline-secondary" type="submit" id="search-job-button" disabled="@IsBusy"><span class="bi bi-search"></span> @localizer["Search Label"]</button>

            </div>
        </div>
    </EditForm>

}
