@rendermode InteractiveServer
@using CSIDE.Data.Models.LandownerDeposits
@using NodaTime
@using System.Globalization
@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject NavigationManager navigationManager

<a href="landowner-deposits#search-form">@localizer["Search Again Label"]</a>

@if(LandownerDeposits?.Count == MaxResults){
    <Alert Color="AlertColor.Warning">@localizer["Search Results Limit Text", MaxResults]</Alert>
}

<Grid TItem="LandownerDeposit"
Class="table table-hover table-bordered table-striped mt-2"
DataProvider="LandownerDepositDataProvider"
AllowFiltering="true"
AllowPaging="true"
PageSize="20"
AllowSorting="true"
AllowSelection="false"
AllowRowClick="true"
OnRowClick="OnRowClick"
AutoHidePaging="true"
Responsive="true">

    <GridColumns>
        <GridColumn TItem="LandownerDeposit" Filterable="false" HeaderText="@localizer["Landowner Deposit ID Label"]" PropertyName="Id" SortKeySelector="item => item.Id">
            <a href="landowner-deposits/Details/@context.Id">@IDPrefixOptions.Value.LandownerDeposit@context.Id</a>
        </GridColumn>
        <GridColumn TItem="LandownerDeposit" Filterable="false" HeaderText="@localizer["Landowner Deposit Type Label"]" PropertyName="LandownerDepositTypes">
            @foreach(var landownerDepositType in context.LandownerDepositTypes){
                <p>@landownerDepositType.LandownerDepositTypeName?.Name</p>
            }
        </GridColumn>
        <GridColumn TItem="LandownerDeposit" Filterable="false" HeaderText="@localizer["Landowner Deposit Date Received Label"]" PropertyName="ReceivedDate" SortKeySelector="item => item.ReceivedDate">
            @(context.ReceivedDate.HasValue ? context.ReceivedDate.Value.ToString("dd/MM/yyyy", CultureInfo.CurrentCulture) : "Unknown")
        </GridColumn>
        <GridColumn TItem="LandownerDeposit" Class="comment-field" Sortable="false" HeaderText="@localizer["Landowner Deposit Location Label"]" PropertyName="Location" SortKeySelector="item => item.Location">
            @if (context.Location?.Length > 200){
                @context.Location?.Substring(0, 200)<text>&hellip;</text>
            }else{
                @context.Location
            }
        </GridColumn>
        <GridColumn TItem="LandownerDeposit" Filterable="false" HeaderText="@localizer["Parish Label"]" PropertyName="LandownerDepositParishes" SortKeySelector="@(item => item.LandownerDepositParishes != null ? string.Join(", ", item.LandownerDepositParishes.Select(p => p.Parish.Name)) : string.Empty)">
            @string.Join(", ", context.LandownerDepositParishes.Select(p => p.Parish.Name))
        </GridColumn>
    </GridColumns>
    <GridTemplates>
        <GridEmptyDataTemplate TItem="LandownerDeposit">
            <div class="text-center text-muted">
                <span class="bi bi-inbox fs-2"></span>
                <div>
                    <p>@localizer["No Results Found Label"]</p>
                    <p><a href="landowner-deposits#search-form">@localizer["Search Again Label"]</a></p>
                </div>
            </div>
        </GridEmptyDataTemplate>
    </GridTemplates>
</Grid>


@code {
    [Parameter]
    public required List<LandownerDeposit> LandownerDeposits { get; set; }
    [Parameter]
    public int MaxResults { get; set; }

    private async Task<GridDataProviderResult<LandownerDeposit>> LandownerDepositDataProvider(GridDataProviderRequest<LandownerDeposit> request)
    {
        var result = await Task.FromResult(request.ApplyTo(LandownerDeposits));
        return result;
    }

    private void OnRowClick(GridRowEventArgs<LandownerDeposit> args) => navigationManager.NavigateTo($"landowner-deposits/Details/{args.Item.Id}");
}