@using CSIDE.Data.Models.Maintenance
@using System.Globalization
@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject IJSRuntime JS

@if(Job is not null)
{
    //add comment section
    @if (NewComment is not null)
    {
        <EditForm Model="NewComment" OnSubmit="SubmitFormAsync" class="mb-2">
            <FluentValidationValidator @ref="newCommentValidator" />
            <ValidationSummary />
            <label class="form-label" for="new-comment">@localizer["New Comment Label"]</label>
            <InputTextArea id="new-comment" class="form-control" @bind-Value="NewComment.CommentText"></InputTextArea>
            <div class="form-check form-switch my-2">
                <InputCheckbox @bind-Value="NewComment.IsPublic" class="form-check-input" id="new-comment-is-public" />
                <label class="form-check-label" for="new-comment-is-public">@localizer["Is Public Label"]</label>
            </div>
            @if (NewComment.IsPublic)
            {
                <Alert Color="AlertColor.Warning">
                    <i class="bi bi-exclamation-triangle-fill"></i> 
                    @localizer["Public Comment Warning Text"]
                </Alert>
            }
            <button type="submit" class="btn btn-sm btn-outline-primary" disabled="@IsBusy">
                @if (IsBusy)
                {
                    <span class="spinner-border spinner-border-sm"></span>
                }
                @localizer["Add Comment Label"]
            </button>
    </EditForm>
    }
    if(Job.Comments is not null && Job.Comments.Count != 0)
    {
        @foreach (Comment comment in Job.Comments.OrderByDescending(c => c.CreatedAt))
        {
            <SingleComment comment="@comment" IsEditable="true" OnRefresh="RefreshComponent"></SingleComment>
        }
    }
    else
    {
        <Alert Color="AlertColor.Info">@localizer["No Maintenance Comments Message"]</Alert>
    }
}



@code {
    [Parameter]
    public Job? Job{ get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private FluentValidationValidator? newCommentValidator;

    private bool IsBusy{ get; set; }
    private bool IsEditing { get; set; }
    private Comment? NewComment{ get; set; }
    private string? ErrorMessage{ get; set; }

    protected override void OnParametersSet()
    {
        NewComment = new()
            {
                JobId = Job!.Id,
                CommentText = string.Empty
            };
        
    }

    private async Task SubmitFormAsync()
    {
        if (IsBusy)
        {
            ErrorMessage = null;
            return;
        }
        if (await newCommentValidator!.ValidateAsync())
        {
            IsBusy = true;

            try
            {
                if (NewComment is not null)
                {
                    using var context = contextFactory.CreateDbContext();

                    var user = (await authenticationStateTask).User;
                    NewComment.AuthorId = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
                    NewComment.AuthorName = user.Identity?.Name;

                    context.MaintenanceComments.Add(NewComment);
                    await context.SaveChangesAsync();
                    //refresh component
                    await RefreshComponent();
                }
            }
            catch (Exception ex)
            {
                ErrorMessage = localizer["Save Error Message"];
            }
            finally
            {
                IsBusy = false;
            }
        }
    }

    

    private async Task RefreshComponent()
    {
        if (Job is not null)
        {
            NewComment = new()
                {
                    JobId = Job.Id,
                    CommentText = string.Empty
                };
            using var context = contextFactory.CreateDbContext();
            Job = await context.MaintenanceJobs.FindAsync([Job.Id]);
            StateHasChanged();
        }
    }
}
