@using CSIDE.Data.Models.Maintenance
@using CSIDE.Data.Models.Infrastructure
@using CSIDE.Data.Models.Shared
@using System.Globalization

@if(IsEditable){
    <button type="button" class="btn btn-sm btn-outline-primary" @onclick="OpenAddInfraLinkModal">@localizer["Add Infrastructure Link Label"]</button>
}

@if (JobInfrastructure is not null && JobInfrastructure.Count != 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@localizer["Infrastructure ID Label"]</th>
                <th>@localizer["Infrastructure Type Label"]</th>
                @if (IsEditable)
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach(var infra in JobInfrastructure){
                <tr>
                    <td>
                        <a href="Infrastructure/Details/@infra.Infrastructure.Id">@infra.Infrastructure.Id</a>
                    </td>
                    <td>
                        @infra.Infrastructure.InfrastructureType?.Name
                    </td>
                    @if(IsEditable){
                        <td>
                            <button type="button" class="btn btn-sm btn-outline-danger" disabled="@(IsBusy)" @onclick="() => DeleteInfraLink(infra.InfrastructureId, infra.JobId)">@localizer["Delete Label"]</button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}else{
    <Alert Color="AlertColor.Info" Class="mt-2">@localizer["No Job Infra Message"]</Alert>
}

@if(IsEditable){
    <Modal @ref="AddInfraLinkModal" Title="@localizer["Add Infrastructure Link Label"]">

        <BodyTemplate>
            @if (!string.IsNullOrEmpty(ErrorMessage))
            {
                <Alert Color="AlertColor.Danger">@ErrorMessage</Alert>
            }
            <h4>@localizer["Add Nearby Infrastructure Title"]</h4>
            @if (NearbyInfra is not null && NearbyInfra.Count != 0 && NearbyInfra.Any(i => i.AlreadyLinked == false))
            {
                <div class="list-group">
                    @foreach (var infra in NearbyInfra)
                    {
                        <button 
                            type="button"
                            class="list-group-item list-group-item-action" 
                            @onclick="async () => await AddSingleInfraLink(infra)" 
                            disabled="@(IsBusy || @infra.AlreadyLinked)">
                            <i class="bi bi-@(infra.AlreadyLinked ? "check-circle" : "plus-circle") @(infra.AlreadyLinked ? "text-success" : "")"></i> 
                            @infra.Infrastructure.Id - @infra.Infrastructure.InfrastructureType?.Name (@(localizer["X Metres Away Label", @Math.Round(infra.Distance, 0)]))
                        </button>
                    }
                </div>
            }else{
                if(NearbyInfra is null || NearbyInfra.Count == 0){
                    <Alert Color="AlertColor.Info">@localizer["No Infrastructure Nearby Message"]</Alert>
                }else{
                    <Alert Color="AlertColor.Info">@localizer["All Nearby Infrastructure Linked Message"]</Alert>
                }
            }
            <hr/>
            <h4 class="mt-2">@localizer["Add Infrastructure By ID Title"]</h4>
            <EditForm Model="NewJobInfrastructure" OnSubmit="SubmitFormAsync">
                <FluentValidationValidator @ref="JobInfrastructureValidator" />
                <ValidationSummary />
                <div class="mb-3">
                    <label class="form-label" for="infra-id">@localizer["Infrastructure ID Label"]</label>
                    <InputNumber id="infra-id" class="form-control" @bind-Value="NewJobInfrastructure!.InfrastructureId"></InputNumber>
                    <ValidationMessage For="() => NewJobInfrastructure.InfrastructureId" />
                </div>

                <button type="submit" class="btn btn-primary btn-sm" disabled="@IsBusy">@localizer["Add Infrastructure Link Label"]</button>
            </EditForm>

        </BodyTemplate>

    </Modal>
}