@using CSIDE.Data.Models.Maintenance

@if(Job is not null){
    <EditForm Model="Job" OnSubmit="@SubmitFormAsync">

        <FluentValidationValidator @ref="fluentValidationValidator" />
        <ValidationSummary />

        <div class="mb-3 row">
            <div class=" col-sm-4 col-md-6 col-lg-4">
                <label class="form-label" for="route-code">@localizer["Route ID Label"]</label>
                <InputText id="route-code" class="form-control" @bind-Value="Job.RouteId"></InputText>
            </div>
            <ValidationMessage For="() => Job.RouteId" />
        </div>

        @if (IsEdit)
        {
            <div class="mb-3 row">
                <div class="col-sm-8 col-lg-6">
                    <label class="form-label" for="priority">@localizer["Assigned To Team Label"]</label>
                    <InputSelect id="priority" class="form-select" @bind-Value="Job.MaintenanceTeamId">
                        @if (MaintenanceTeams is not null)
                        {
                            @foreach (var team in MaintenanceTeams.OrderBy(s => s.Name))
                            {
                                <option value="@team.Id">@team.Name</option>
                            }
                        }

                    </InputSelect>
                </div>
                <ValidationMessage For="() => Job.MaintenanceTeamId" />
            </div>
        }
        <div class="mb-3">
            <label class="form-label" for="problem-description">@localizer["Problem Description Label"]</label>
            <InputTextArea id="problem-description" class="form-control" @bind-Value="Job.ProblemDescription"></InputTextArea>
            <ValidationMessage For="() => Job.ProblemDescription" />
        </div>

        <div class="mb-3 row">
            <div class="col-sm-8 col-lg-6">
                <label class="form-label" for="priority">@localizer["Job Priority Label"]</label>
                <InputSelect id="priority" class="form-select" @bind-Value="Job.JobPriorityId">
                    @if (JobPriorities is not null)
                    {
                        @foreach (var priority in JobPriorities.OrderBy(s => s.SortOrder))
                        {
                            <option value="@priority.Id">@priority.Description</option>
                        }
                    }

                </InputSelect>
            </div>
            <ValidationMessage For="() => Job.JobPriorityId" />
        </div>

        <div class="mb-3 row">
            <div class="col-sm-8 col-lg-6">
                <label class="form-label" for="status">@localizer["Job Status Label"]</label>
                <select id="status" class="form-select" @onchange="ShowOrHideCompletionDate">
                    @if (JobStatuses is not null)
                    {
                        @foreach (var status in JobStatuses.OrderBy(s => s.SortOrder))
                        {
                            if (Job.JobStatusId == status.Id)
                            {
                                <option value="@status.Id" selected>@status.Description</option>
                            }
                            else
                            {
                                <option value="@status.Id">@status.Description</option>
                            }

                        }
                    }
                </select>
            </div>
            <ValidationMessage For="() => Job.JobStatusId" />
        </div>

        <div class="ps-2 border-start border-2 @(CompleteDateShown ? "d-block" : "d-none")">
            <div class="mb-3 row">
                <div class=" col-sm-4 col-md-6 col-lg-4">
                    <label class="form-label" for="completion-date">@localizer["Completion Date Label"]</label>
                    @{
                        string CompleteDateStringRepresentation = "";
                        if (Job.CompletionDate.HasValue)
                        {
                            CompleteDateStringRepresentation = Job.CompletionDate.Value.ToDateOnly().ToString("yyyy-MM-dd");
                        }
                    }
                    <input type="date" class="form-control" value="@CompleteDateStringRepresentation" @onchange="UpdateCompletionDateProperty" />
                </div>
                <ValidationMessage For="() => Job.CompletionDate" />
            </div>

        </div>

        <div class="mb-3">
            <label class="form-label" for="work-done">@localizer["Work Done Label"]</label>
            <InputTextArea id="work-done" class="form-control" @bind-Value="Job.WorkDone"></InputTextArea>
            <ValidationMessage For="() => Job.WorkDone" />
        </div>

        @if (IsEdit)
        {
            <button type="submit" class="btn btn-primary" disabled="@IsBusy">@localizer["Update Label"]</button>
            <button type="button" class="btn btn-secondary" disabled="@IsBusy" @onclick="HandleCancel">@localizer["Cancel Label"]</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary" disabled="@IsBusy">@localizer["Create Label"]</button>
        }
        
    </EditForm>

}

@code{
    [Parameter]
    public Job? Job { get; set; }
    [Parameter]
    public JobStatus[]? JobStatuses { get; set; }
    [Parameter]
    public JobPriority[]? JobPriorities { get; set; }
    [Parameter]
    public MaintenanceTeam[]? MaintenanceTeams { get; set; }
    [Parameter]
    public bool IsBusy { get; set; }
    [Parameter]
    public bool CompleteDateShown { get; set; }
    [Parameter]
    public bool IsEdit{ get; set; }
    [Parameter]
    public EventCallback OnSubmit{ get; set; }
    [Parameter]
    public EventCallback OnCancel { get; set; }

    private FluentValidationValidator? fluentValidationValidator;

    protected override void OnAfterRender(bool firstRender)
    {
        if (Job is not null && Job.JobStatusId.HasValue)
        {
            ShowOrHideCompletionDate(Job.JobStatusId.Value);
            StateHasChanged();
        }
    }

    private async Task SubmitFormAsync()
    {
        if (OnSubmit.HasDelegate)
        {
            await OnSubmit.InvokeAsync();
        }
    }

    public async Task<bool> ValidateAsync()
    {
        return await fluentValidationValidator!.ValidateAsync();
    }

    private void UpdateCompletionDateProperty(ChangeEventArgs eventArgs)
    {
        if (Job is not null && eventArgs.Value is not null)
        {
            var pattern = NodaTime.Text.LocalDatePattern.CreateWithInvariantCulture("yyyy-MM-dd");
            var parseResult = pattern.Parse(eventArgs.Value.ToString()!);
            Job.CompletionDate = parseResult.Value;
        }
    }

    private void ShowOrHideCompletionDate(ChangeEventArgs eventArgs)
    {
        int NewJobStatusId;
        if (Job is not null && int.TryParse(eventArgs.Value?.ToString(), out NewJobStatusId))
        {
            ShowOrHideCompletionDate(NewJobStatusId);
            CompleteDateShown = JobStatuses!.Where(s => s.Id == NewJobStatusId).First().IsComplete;
            Job.JobStatusId = NewJobStatusId;
        }
    }
    private void ShowOrHideCompletionDate(int NewJobStatusId)
    {
        if (Job is not null)
        {
            CompleteDateShown = JobStatuses!.Where(s => s.Id == NewJobStatusId).First().IsComplete;
            Job.JobStatusId = NewJobStatusId;
        }
    }

    private async Task HandleCancel()
    {
        if (OnCancel.HasDelegate)
        {
            await OnCancel.InvokeAsync();
        }
    }
}