@rendermode InteractiveServer
@using CSIDE.Data.Models.Maintenance
@using NodaTime
@using System.Globalization
@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject NavigationManager navigationManager

<a href="Maintenance#search-form">@localizer["Search Again Label"]</a>

@if(Jobs?.Count == MaxResults){
    <Alert Color="AlertColor.Warning">@localizer["Search Results Limit Text", MaxResults]</Alert>
}

<Grid TItem="Job"
Class="table table-hover table-bordered table-striped mt-2"
DataProvider="JobsDataProvider"
AllowFiltering="true"
AllowPaging="true"
PageSize="20"
AllowSorting="true"
AllowSelection="false"
AllowRowClick="true"
OnRowClick="OnRowClick"
AutoHidePaging="true"
Responsive="true">

    <GridColumns>
        <GridColumn TItem="Job" Filterable="false" HeaderText="@localizer["Job ID Label"]" PropertyName="Id" SortKeySelector="item => item.Id">
            <a href="Maintenance/Details/@context.Id">@context.Id</a>
        </GridColumn>
        <GridColumn TItem="Job" Filterable="false" HeaderText="@localizer["Route ID Label"]" PropertyName="RouteId" SortKeySelector="item => item.RouteId">
            @context.RouteId
        </GridColumn>
        <GridColumn TItem="Job" Filterable="false" HeaderText="@localizer["Log Date Label"]" PropertyName="LogDate" SortKeySelector="item => item.LogDate">
            @(context.LogDate.HasValue ? context.LogDate.Value.InZone(DateTimeZoneProviders.Tzdb.GetSystemDefault()).LocalDateTime.ToString("dd/MM/yyyy HH:mm", CultureInfo.CurrentCulture) : "Unknown")
        </GridColumn>
        <GridColumn TItem="Job" Filterable="false" HeaderText="@localizer["Parish Label"]" PropertyName="Parish" SortKeySelector="item => item.Parish != null ? item.Parish.Name : string.Empty">
            @context.Parish?.Name
        </GridColumn>
        <GridColumn TItem="Job" Class="comment-field" Sortable="false" HeaderText="@localizer["Problem Description Label"]" PropertyName="ProblemDescription" SortKeySelector="item => item.ProblemDescription">
            @if(context.ProblemDescription?.Length > 200){
                @context.ProblemDescription?.Substring(0, 200)<text>&hellip;</text>
            }else{
                @context.ProblemDescription
            }

        </GridColumn>
        <GridColumn TItem="Job" Filterable="false" HeaderText="@localizer["Job Priority Label"]" PropertyName="JobPriority" SortKeySelector="item => item.JobPriority != null ? item.JobPriority.Description : string.Empty">
            @context.JobPriority?.Description
        </GridColumn>
        <GridColumn TItem="Job" Filterable="false" HeaderText="@localizer["Job Status Label"]" PropertyName="JobStatus" SortKeySelector="item => item.JobStatus != null ? item.JobStatus.Description : string.Empty">
            @context.JobStatus?.Description
        </GridColumn>
    </GridColumns>
    <GridTemplates>
        <GridEmptyDataTemplate TItem="Job">
            <div class="text-center text-muted">
                <span class="bi bi-inbox fs-2"></span>
                <div>
                    <p>@localizer["No Results Found Label"]</p>
                    <p><a href="Maintenance#search-form">@localizer["Search Again Label"]</a></p>
                </div>
            </div>
        </GridEmptyDataTemplate>
    </GridTemplates>
</Grid>


@code {
    [Parameter]
    public required List<Job> Jobs { get; set; }
    [Parameter]
    public int MaxResults { get; set; }

    private async Task<GridDataProviderResult<Job>> JobsDataProvider(GridDataProviderRequest<Job> request)
    {
        var result = await Task.FromResult(request.ApplyTo(Jobs));
        return result;
    }

    private void OnRowClick(GridRowEventArgs<Job> args) => navigationManager.NavigateTo($"Maintenance/Details/{args.Item.Id}");
}