@using CSIDE.Data.Models.Maintenance
@using CSIDE.Data.Models.Shared
@using System.Globalization
@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject IJSRuntime JS

@if(Job is not null)
{
    if (IsEditable)
    {
        <button type="button" class="btn btn-outline-primary btn-sm" @onclick="ShowAddMediaModal">@localizer["Add Media Label"]</button>
    }
    
    @if (Job.JobMedia is not null && Job.JobMedia.Count != 0)
    {
        
        var images = from m in Job.JobMedia where m.Media.Format == MediaType.Image select m;
        var videos = from m in Job.JobMedia where m.Media.Format == MediaType.Video select m;
        var docs = 
            from m in Job.JobMedia where (
                m.Media.Format == MediaType.PDF_Document | 
                m.Media.Format == MediaType.Word_Document |
                m.Media.Format == MediaType.Excel_Spreadsheet |
                m.Media.Format == MediaType.Unknown)
            select m;

        if (images.Count() != 0)
        {
            <div class="row my-4">
                <h4>@localizer["Images Label"]</h4>
                @foreach (JobMedia jobMediaItem in images.OrderBy(i => i.Media.UploadDate))
                {
                    <div class="col-sm-12 col-xl-6 col-xxl-4">
                        <MediaItem Media="@jobMediaItem.Media" IsEditable="@IsEditable"></MediaItem>
                    </div>
                }
            </div>
            <hr/>
        }
        if (videos.Count() != 0)
        {
            <div class="row my-4">
                <h4>@localizer["Videos Label"]</h4>
                @foreach (JobMedia jobMediaItem in videos.OrderBy(i => i.Media.UploadDate))
                {
                    <div class="col-12">
                        <MediaItem Media="@jobMediaItem.Media" IsEditable="@IsEditable"></MediaItem>
                    </div>
                }
            </div>
            <hr />
        }

        if (docs.Count() != 0)
        {
            <div class="row my-4">
                <h4>@localizer["Documents Label"]</h4>
                <table class="table table-striped">
                    <tbody>
                    @foreach (JobMedia jobMediaItem in docs.OrderBy(i => i.Media.UploadDate))
                    {
                        <MediaItem Media="@jobMediaItem.Media" IsEditable="@IsEditable"></MediaItem>
                    }
                    </tbody>
                </table>
            </div>
        }
    }
    else
    {
        <Alert Color="AlertColor.Info">@localizer["No Media Message"]</Alert>
    }
}

@if (NewMedia is not null && IsEditable)
{
    <InputFile OnChange="LoadFiles" multiple />

}


@code {
    [Parameter]
    public Job? Job{ get; set; }
    [Parameter]
    public bool IsEditable{ get; set; }

    //private FluentValidationValidator? newMediaValidator;

    private Modal AddMediaModal = default!;
    private bool IsBusy { get; set; }
    private bool IsEditing { get; set; }
    private Media? NewMedia { get; set; }
    private string? ErrorMessage { get; set; }

    //private NewMediaForm? NewMediaForm;

    protected override async Task OnParametersSetAsync()
    {
        NewMedia = new() { URL = string.Empty };
    }

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        //TODO
    }

    private async Task ShowAddMediaModal()
    {
        await AddMediaModal.ShowAsync();
    }
    private async Task HideAddMediaModal()
    {
        await AddMediaModal.HideAsync();
    }
    private async Task RefreshComponent()
    {
        if (Job is not null)
        {
            NewMedia = new(){URL = string.Empty };
            using var context = contextFactory.CreateDbContext();
            Job = await context.MaintenanceJobs.FindAsync([Job.Id]);
            ErrorMessage = null;
            StateHasChanged();
        }
    }
}
