@using CSIDE.Data.Models.Maintenance
@using CSIDE.Data.Models.Shared
@using System.Globalization
@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject IJSRuntime JS

@if(Job is not null)
{
    
    @if (Job.JobMedia is not null && Job.JobMedia.Count != 0)
    {
        
        var images = from m in Job.JobMedia where m.Media.Format == MediaType.Image select m;
        var videos = from m in Job.JobMedia where m.Media.Format == MediaType.Video select m;
        var docs = 
            from m in Job.JobMedia where (
                m.Media.Format == MediaType.PDF_Document | 
                m.Media.Format == MediaType.Word_Document |
                m.Media.Format == MediaType.Excel_Spreadsheet |
                m.Media.Format == MediaType.Unknown)
            select m;

        if (images.Count() != 0)
        {
            <div class="row my-4">
                <h4>@localizer["Images Label"]</h4>
                @foreach (JobMedia jobMediaItem in images.OrderBy(i => i.Media.UploadDate))
                {
                    <div class="col-sm-12 col-xl-6 col-xxl-4" id="media-gallery">
                        <MediaItem Media="@jobMediaItem.Media" IsEditable="@IsEditable" OnRefreshComponent="RefreshComponent"></MediaItem>
                    </div>
                }
            </div>
            <hr/>
        }
        if (videos.Count() != 0)
        {
            <div class="row my-4">
                <h4>@localizer["Videos Label"]</h4>
                @foreach (JobMedia jobMediaItem in videos.OrderBy(i => i.Media.UploadDate))
                {
                    <div class="col-12">
                        <MediaItem Media="@jobMediaItem.Media" IsEditable="@IsEditable" OnRefreshComponent="RefreshComponent"></MediaItem>
                    </div>
                }
            </div>
            <hr />
        }

        if (docs.Count() != 0)
        {
            <div class="row my-4">
                <h4>@localizer["Documents Label"]</h4>
                <div class="col">
                    <table class="table table-striped">
                        <tbody>
                        @foreach (JobMedia jobMediaItem in docs.OrderBy(i => i.Media.UploadDate))
                        {
                            <MediaItem Media="@jobMediaItem.Media" IsEditable="@IsEditable" OnRefreshComponent="RefreshComponent"></MediaItem>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
    else
    {
        <Alert Color="AlertColor.Info">@localizer["No Media Message"]</Alert>
    }
}

@if (IsEditable)
{
    <UploadFile MaxAllowedFiles="10" OnUploadComplete="@AddMediaToJob"></UploadFile>

}


@code {
    [Parameter]
    public Job? Job{ get; set; }
    [Parameter]
    public bool IsEditable{ get; set; }


    private bool IsBusy { get; set; }
    private bool IsEditing { get; set; }
    private string? ErrorMessage { get; set; }

    private async Task AddMediaToJob(List<Media> UploadedMedia)
    {
        if (Job is not null)
        {
            using var context = contextFactory.CreateDbContext();
            context.Attach(Job);
            foreach (Media media in UploadedMedia)
            {
                Job.JobMedia.Add(new JobMedia
                    {
                        JobId = Job.Id,
                        Media = media
                    });
            }
            await context.SaveChangesAsync();
            //await RefreshComponent();
        }
    }
    private async Task RefreshComponent()
    {
        if (Job is not null)
        {
            using var context = contextFactory.CreateDbContext();
            Job = await context.MaintenanceJobs.FindAsync([Job.Id]);
            ErrorMessage = null;
            StateHasChanged();
        }
    }
}
