@page "/landowner-deposits/Details/{ItemId:int}/{SecondaryId:int}"
@using CSIDE.Data.Models.LandownerDeposits
@using CSIDE.Data.Services
@using CSIDE.Web.Components.LandownerDeposits
@using CSIDE.Web.Components.Mapping
@using CSIDE.Web.Components.Layout
@using CSIDE.Data.Models.Shared
@using System.Globalization
@using CSIDE.Shared.Options
@using CSIDE.Web.Services
@using Humanizer
@using Microsoft.Extensions.Options
@inject ILandownerDepositService landownerDepositService
@inject NavigationManager navigationManager
@inject IOptions<MappingOptions> mappingOptions
@inject ISettingsService settingsService

<div>
    <Breadcrumb Items="NavItems"></Breadcrumb>
</div>

@if (IsBusy)
{
    <PageTitle>@localizer["Loading Text"]</PageTitle>
    <p class="fs-4">
        <div class="spinner-border" role="status"></div> @localizer["Loading Text"]
    </p>
}

@if (LandownerDeposit is null && !IsBusy)
{
    <PageTitle>@localizer["Landowner Deposit Not Found Error Message", $"{IDPrefixOptions.Value.LandownerDeposit}{ItemId}/{SecondaryId}"]</PageTitle>
    <Alert Color="AlertColor.Danger">@localizer["Landowner Deposit Not Found Error Message", $"{IDPrefixOptions.Value.LandownerDeposit}{ItemId}/{SecondaryId}"]</Alert>
}
else
{
    if (LandownerDeposit is not null)
    {
        <PageTitle>@localizer["Landowner Deposit Details Title", $"{IDPrefixOptions.Value.LandownerDeposit}{LandownerDeposit.Id}/{LandownerDeposit.SecondaryId}"]</PageTitle>
        <h1>@localizer["Landowner Deposit Details Title", $"{IDPrefixOptions.Value.LandownerDeposit}{LandownerDeposit.Id}/{LandownerDeposit.SecondaryId}"]</h1>

        <AuthorizeView Roles="Administrator, RoW Officer">
            <a href="landowner-deposits/Edit/@LandownerDeposit.Id/@LandownerDeposit.SecondaryId" class="btn btn-primary my-2">@localizer["Edit Label"]</a>
            <a href="landowner-deposits/Create/@LandownerDeposit.Id/@LandownerDeposit.SecondaryId" class="btn btn-primary my-2">@localizer["Create Linked Landowner Deposit Label"]</a>
        </AuthorizeView>

        <div class="row">
            <div class="col-md-8">

                <CollapsibleCard Id="landowner-deposit-basic-details" Title="@localizer["Basic Details Label"]" IsShownByDefault="true">
                    <ChildContent>
                        <ErrorBoundary>
                            <ChildContent>

                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th class="w-25">@localizer["Landowner Deposit ID Label"]</th>
                                            <td>@IDPrefixOptions.Value.LandownerDeposit@LandownerDeposit.Id/@LandownerDeposit.SecondaryId</td>
                                        </tr>
                                        <tr>
                                            <th class="w-25">@localizer["Landowner Deposit Type Label"]</th>
                                            <td>
                                                @if (LandownerDeposit.LandownerDepositTypes.Count != 0)
                                                {
                                                    <ul class="list-unstyled">
                                                        @foreach (var landownerDepositType in LandownerDeposit.LandownerDepositTypes)
                                                        {
                                                            <li>@landownerDepositType.LandownerDepositTypeName?.Name</li>
                                                        }
                                                    </ul>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="w-25">@localizer["Landowner Deposit Received Date Label"]</th>
                                            <td>@LandownerDeposit.ReceivedDate</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Landowner Deposit Location Description Label"]</th>
                                            <td class="text-break comment-field">@LandownerDeposit.Location</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Landowner Deposit Completed Correctly Label"]</th>
                                            <td>@(LandownerDeposit.FormCompleted? localizer["Yes Label"] : localizer["No Label"])</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Landowner Deposit Map Correct Label"]</th>
                                            <td>@(LandownerDeposit.MapCorrect? localizer["Yes Label"] : localizer["No Label"])</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Landowner Deposit Fee Paid Label"]</th>
                                            <td>@(LandownerDeposit.FeePaid? localizer["Yes Label"] : localizer["No Label"])</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Landowner Deposit Signed Label"]</th>
                                            <td>@(LandownerDeposit.AllSigned? localizer["Yes Label"] : localizer["No Label"])</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Landowner Deposit Date Acknowledged Label"]</th>
                                            <td>@LandownerDeposit.DateAcknowledged</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Landowner Deposit Cheque Receipt Label"]</th>
                                            <td>@LandownerDeposit.ChequeReceiptNumber</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Landowner Deposit Cheque Paid In Label"]</th>
                                            <td>@LandownerDeposit.ChequePaidInDate</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Landowner Deposit Notice Drafted Label"]</th>
                                            <td>@LandownerDeposit.NoticeDrafted</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Landowner Deposit Website Notice Published Label"]</th>
                                            <td>@LandownerDeposit.WebsiteNoticePublished</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Landowner Deposit Email Notice Label"]</th>
                                            <td>@LandownerDeposit.EmailNoticeSent</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Landowner Deposit Onsite Notice Label"]</th>
                                            <td>@LandownerDeposit.OnsiteNoticeErected</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Landowner Deposit Website Entry Printed Label"]</th>
                                            <td>@LandownerDeposit.WebsiteEntryAdded</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Landowner Deposit Archive Date Label"]</th>
                                            <td>@LandownerDeposit.SentToArchive</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Landowner Deposit Archive Reference Label"]</th>
                                            <td>@LandownerDeposit.ArchiveReference</td>
                                        </tr>
                                        <tr>
                                            <th>@localizer["Primary Contact Label"]</th>
                                            <td>@LandownerDeposit.PrimaryContact</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ChildContent>
                            <ErrorContent Context="Exception">
                                <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                            </ErrorContent>
                        </ErrorBoundary>
                    </ChildContent>
                </CollapsibleCard>

                <CollapsibleCard Id="landowner-deposit-contacts" Title="@localizer["Contacts Label", LandownerDeposit.LandownerDepositContacts.Count]">
                    <ChildContent>
                        <ErrorBoundary>
                            <ChildContent>
                                <ContactsList Contacts="@LandownerDeposit.LandownerDepositContacts.Select(c => c.Contact).ToArray()"
                                              IsEditable="UserCanEdit"
                                              OnSubmit="AddContact"
                                              OnRefresh="RefreshContactsList"></ContactsList>
                            </ChildContent>
                            <ErrorContent Context="Exception">
                                <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                            </ErrorContent>
                        </ErrorBoundary>
                    </ChildContent>
                </CollapsibleCard>

                <CollapsibleCard Id="landowner-deposit-event-log" Title="@localizer["Event Log Label", LandownerDeposit.Events.Count]">
                    <ChildContent>
                        <ErrorBoundary>
                            <ChildContent>
                                <EventsList LandownerDeposit="LandownerDeposit" IsEditable="UserCanEdit"></EventsList>
                            </ChildContent>
                            <ErrorContent Context="Exception">
                                <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                            </ErrorContent>
                        </ErrorBoundary>
                    </ChildContent>
                </CollapsibleCard>

                <CollapsibleCard Id="landowner-deposit-addresses" Title="@localizer["Affected Addresses Label", LandownerDeposit.LandownerDepositAddresses.Count]">
                    <ChildContent>
                        <ErrorBoundary>
                            <ChildContent>
                                <LandownerDepositAddressList Addresses="LandownerDeposit.LandownerDepositAddresses" LandownerDepositId="LandownerDeposit.Id" LandownerDepositSecondaryId="LandownerDeposit.SecondaryId" IsEditable="UserCanEdit"></LandownerDepositAddressList>
                            </ChildContent>
                            <ErrorContent Context="Exception">
                                <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                            </ErrorContent>
                        </ErrorBoundary>
                    </ChildContent>
                </CollapsibleCard>

                <CollapsibleCard Id="landowner-deposit-parishes" Title="@localizer["Parishes Label", LandownerDeposit.LandownerDepositParishes.Count]">
                    <ChildContent>
                        <ErrorBoundary>
                            <ChildContent>
                                @if (LandownerDeposit.LandownerDepositParishes.Count == 0)
                                {
                                    <Alert Color="AlertColor.Warning" Class="mt-2">@localizer["No Parishes Found Message"]</Alert>
                                }
                                else
                                {
                                    <Alert Color="AlertColor.Info">@localizer["Automatic Parishes Information Message"]</Alert>
                                    <table class="table table-striped mt-2">
                                        <tbody>
                                            @foreach (var parish in LandownerDeposit.LandownerDepositParishes)
                                            {
                                                <tr><td>@parish.Parish.Name</td></tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </ChildContent>
                            <ErrorContent Context="Exception">
                                <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                            </ErrorContent>
                        </ErrorBoundary>
                    </ChildContent>
                </CollapsibleCard>

                <CollapsibleCard Id="landowner-deposit-media" Title="@localizer["Media Label", LandownerDeposit.LandownerDepositMedia.Count]">
                    <ChildContent>
                        <ErrorBoundary>
                            <ChildContent>
                                <LandownerDepositMediaList LandownerDeposit="@LandownerDeposit" IsEditable="UserCanEdit"></LandownerDepositMediaList>
                            </ChildContent>
                            <ErrorContent Context="Exception">
                                <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                            </ErrorContent>
                        </ErrorBoundary>
                    </ChildContent>
                </CollapsibleCard>

                <CollapsibleCard Id="landowner-deposit-linked-deposits" Title="@localizer["Linked Landowner Deposits Label",(LinkedDeposits?.Count ?? 0)]">
                    <ChildContent>
                        <ErrorBoundary>
                            <ChildContent>
                                <AuthorizeView Roles="Administrator, RoW Officer">
                                    <a href="landowner-deposits/Create/@LandownerDeposit.Id/@LandownerDeposit.SecondaryId" class="btn btn-primary my-2">@localizer["Create Linked Landowner Deposit Label"]</a>
                                </AuthorizeView>
                                @if(LinkedDeposits == null || LinkedDeposits.Count == 0)
                                {
                                    <Alert Color="AlertColor.Warning" Class="mt-2">@localizer["No Linked Deposits Found Message"]</Alert>
                                }
                                else
                                {
                                    <table class="table table-striped mt-2">
                                        <tbody>
                                            @foreach (var deposit in LinkedDeposits.OrderBy(l => l.SecondaryId))
                                            {
                                                <tr><td><a href="landowner-deposits/details/@deposit.Id/@deposit.SecondaryId">@IDPrefixOptions.Value.LandownerDeposit@deposit.Id/@deposit.SecondaryId</a></td></tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </ChildContent>
                            <ErrorContent Context="Exception">
                                <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                            </ErrorContent>
                        </ErrorBoundary>
                    </ChildContent>
                </CollapsibleCard>

                <CollapsibleCard Id="ldeposit-audit" Title="@localizer["Audit Log Title"]">
                    <ChildContent>
                        <ErrorBoundary>
                            <ChildContent>
                                <AuditLogList SectionNames="@AuditLogSectionNames" EntityId="@CompositeKey"></AuditLogList>
                            </ChildContent>
                            <ErrorContent Context="Exception">
                                <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                            </ErrorContent>
                        </ErrorBoundary>
                    </ChildContent>
                </CollapsibleCard>

            </div>

            <div class="col-md-4">
                <ErrorBoundary>
                    <ChildContent>
                        @if (LandownerDeposit.Geom is not null)
                        {
                            <MiniMap Geometry="@LandownerDeposit.Geom"></MiniMap>
                        }
                        <table class="table table-striped table-sm">
                            <tbody>
                                <tr><th>@localizer["Easting Label"]</th><td>@Convert.ToInt32(LandownerDeposit.Geom?.Centroid.X)</td></tr>
                                <tr><th>@localizer["Northing Label"]</th><td>@Convert.ToInt32(LandownerDeposit.Geom?.Centroid.Y)</td></tr>
                                <tr>
                                    <td colspan="2">
                                        <MapLink Template="@mappingOptions.Value.LandownerDepositMapLinkTemplateURL" Geometry="@LandownerDeposit.Geom" IncludeIcon="true"></MapLink>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ChildContent>
                    <ErrorContent Context="Exception">
                        <GenericErrorAlert Exception="Exception"></GenericErrorAlert>
                    </ErrorContent>
                </ErrorBoundary>
            </div>

        </div>
    }
}
@code {
    private List<BreadcrumbItem>? NavItems;

    [Parameter]
    public int ItemId { get; set; }
    [Parameter]
    public int SecondaryId { get; set; }
    private LandownerDeposit? LandownerDeposit { get; set; }
    private ICollection<LandownerDeposit>? LinkedDeposits{ get; set; }
    private string CompositeKey { get; set; } = "";
    private bool IsBusy { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }

    private bool UserCanEdit { get; set; } = false;

    private string[] AuditLogSectionNames => new string[] {
        nameof(Data.Models.LandownerDeposits.LandownerDeposit),
        nameof(Data.Models.LandownerDeposits.LandownerDepositAddress),
        nameof(Data.Models.LandownerDeposits.LandownerDepositContact),
        nameof(Data.Models.LandownerDeposits.LandownerDepositMedia),
        nameof(Data.Models.LandownerDeposits.LandownerDepositEvent),
        nameof(Data.Models.LandownerDeposits.LandownerDepositType)
    };

    protected override async Task OnParametersSetAsync()
    {
        CompositeKey = $"{ItemId.ToString()}/{SecondaryId.ToString()}";
        NavItems = new List<BreadcrumbItem>
        {
            new BreadcrumbItem{ Text = localizer["Home Title"], Href = "" },
            new BreadcrumbItem{ Text = localizer["Landowner Deposit Title"], Href="landowner-deposits" },
            new BreadcrumbItem{ Text = localizer["Landowner Deposit Details Title", $"{IDPrefixOptions.Value.LandownerDeposit}{ItemId}/{SecondaryId}"], IsCurrentPage = true }
        };

        IsBusy = true;
        try
        {
            LandownerDeposit = await landownerDepositService.GetLandownerDepositById(ItemId, SecondaryId);
            if (LandownerDeposit != null)
            {
                LinkedDeposits = await landownerDepositService.GetLinkedLandownerDepositsByPrimaryId(ItemId, SecondaryId);
            }
        }
        finally
        {
            IsBusy = false;
        }

        //check user has permission to edit
        if (AuthenticationState is not null)
        {
            var authState = await AuthenticationState;
            var user = authState?.User;
            if (user is not null)
            {
                UserCanEdit = user.IsInRole("Administrator") || user.IsInRole("RoW Officer");
            }
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (LandownerDeposit is not null)
        {
            //add to recent work store
            await settingsService.AddRecentWork($"{IDPrefixOptions.Value.LandownerDeposit}{LandownerDeposit.Id}/{LandownerDeposit.SecondaryId}", "LandownerDeposit", LandownerDeposit.Location.Truncate(50), $"landowner-deposits/Details/{LandownerDeposit.Id}/{LandownerDeposit.SecondaryId}");
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task AddContact(Contact NewContact)
    {

        if (NewContact is not null && LandownerDeposit is not null)
        {
            await landownerDepositService.AddContactToLandownerDeposit(NewContact, LandownerDeposit);
        }
    }

    private async Task RefreshContactsList()
    {
        LandownerDeposit = await landownerDepositService.GetLandownerDepositById(ItemId, SecondaryId);
        StateHasChanged();
    }
}

